{% capture listItems %}
                        {% for item in collections %}
                        <div role="listitem" class="w-dyn-item">
            <a href="{{ item.url }}" class="inner-grid-cms vertical w-inline-block">
              <div class="wrapper-image-blog team-members rounded"><img src="{{ item.image | img_url: 'master' }}" loading="lazy" alt="{{ item.image.alt }}" class="image-cms" srcset="{{ item.image | img_url: '1920x' }} 1920w,{{ item.image | img_url: '1600x' }} 1600w,{{ item.image | img_url: '1366x' }} 1366w,{{ item.image | img_url: '1024x' }} 1024w,{{ item.image | img_url: '768x' }} 768w,{{ item.image | img_url: '640x' }} 640w"></div>
              <div id="w-node-f451d034-4353-2b0a-f82e-e4ec698f4924-332515e3" class="info-members">
                <h3 class="heading-regular">{{ item.title }}</h3>
                <p class="p-small-size">{{ item.metafields.udesly['short-description'] }}</p>
              </div>
            </a>
          </div>
                        {% endfor %}
                        {% endcapture %}
{% assign items_length = listItems | strip | size %}
    <div class="w-dyn-list" udy-collection="collection">
        {%- unless items_length == 0 -%}<div role="list" class="collection-list-news _3-col w-dyn-items">
          {{ listItems }}
        </div>{%- endunless -%}
        {%- if items_length == 0 -%}<div class="w-dyn-empty">
          <div>No items found.</div>
        </div>{%- endif -%}
      </div>