<div class="w-layout-grid main-grid">
        <div id="w-node-_79924663-f60e-ef19-a0e2-01d4e91d2ffe-e91d2ffd" class="gray-wrapper">
          <div class="w-layout-grid content-grid gap-short">
            <div class="wrapper-heading align-left">
              <div class="plan-header margin-bottom-small">
                <h3 class="heading-regular">Basic</h3>
                <div class="p-xsmall text-white-opacity">Best for graphic designers</div>
              </div>
              <div class="list-wrapper margin-bottom-xsmall">
                <div class="list-flex">
                  <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>1,000 Members</div>
                </div>
                <div class="list-flex">
                  <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>10 spaces</div>
                </div>
                <div class="list-flex">
                  <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>Custom domain</div>
                </div>
                <div class="list-flex">
                  <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>Zapier integration</div>
                </div>
                <div class="list-flex off">
                  <div class="circle-check off"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>1 License</div>
                </div>
                <div class="list-flex off">
                  <div class="circle-check off"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>1 License</div>
                </div>
              </div>
            </div>
            <div id="w-node-_79924663-f60e-ef19-a0e2-01d4e91d3023-e91d2ffd" class="list-wrapper">
              <div class="price-wrapper margin-bottom-xsmall">
                <p class="price">$12<span class="span-small">/mo</span></p>
                <div class="list-flex">
                  <div class="p-xsmall text-white-opacity">*billed annually, plus applicable taxes</div>
                </div>
              </div>
              <a href="#" class="button w-inline-block">
                <div>Choose Plan</div>
              </a>
            </div>
          </div>
        </div>
        <div id="w-node-_21eb38bc-7cb4-8bb1-3a9f-566bbcb51300-e91d2ffd" class="gray-wrapper featured-plan-outline">
          <div class="w-layout-grid content-grid gap-short">
            <div class="wrapper-heading align-left">
              <div class="plan-header margin-bottom-small">
                <h3 class="heading-regular">Professional</h3>
                <div class="p-xsmall text-white-opacity">Best for graphic designers</div>
              </div>
              <div class="list-wrapper margin-bottom-xsmall">
                <div class="list-flex">
                  <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>1,000 Members</div>
                </div>
                <div class="list-flex">
                  <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>10 spaces</div>
                </div>
                <div class="list-flex">
                  <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>Custom domain</div>
                </div>
                <div class="list-flex">
                  <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>Zapier integration</div>
                </div>
                <div class="list-flex off">
                  <div class="circle-check off"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>1 License</div>
                </div>
                <div class="list-flex off">
                  <div class="circle-check off"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>1 License</div>
                </div>
              </div>
            </div>
            <div class="list-wrapper">
              <div class="price-wrapper margin-bottom-xsmall">
                <p class="price">$24<span class="span-small">/mo</span></p>
                <div class="list-flex">
                  <div class="p-xsmall text-white-opacity">*billed annually, plus applicable taxes</div>
                </div>
              </div>
              <a href="#" class="button color-red w-inline-block">
                <div>Choose Plan</div>
              </a>
            </div>
          </div>
        </div>
        <div id="w-node-a58d7687-3b48-7269-f6a5-a6a9239870d6-e91d2ffd" class="gray-wrapper">
          <div class="w-layout-grid content-grid gap-short">
            <div class="wrapper-heading align-left">
              <div class="plan-header margin-bottom-small">
                <h3 class="heading-regular">Advanced</h3>
                <div class="p-xsmall text-white-opacity">Best for graphic designers</div>
              </div>
              <div class="list-wrapper margin-bottom-xsmall">
                <div class="list-flex">
                  <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>1,000 Members</div>
                </div>
                <div class="list-flex">
                  <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>10 spaces</div>
                </div>
                <div class="list-flex">
                  <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>Custom domain</div>
                </div>
                <div class="list-flex">
                  <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>Zapier integration</div>
                </div>
                <div class="list-flex off">
                  <div class="circle-check off"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>1 License</div>
                </div>
                <div class="list-flex off">
                  <div class="circle-check off"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>1 License</div>
                </div>
              </div>
            </div>
            <div class="list-wrapper">
              <div class="price-wrapper margin-bottom-xsmall">
                <p class="price">$36<span class="span-small">/mo</span></p>
                <div class="list-flex">
                  <div class="p-xsmall text-white-opacity">*billed annually, plus applicable taxes</div>
                </div>
              </div>
              <a href="#" class="button w-inline-block">
                <div>Choose Plan</div>
              </a>
            </div>
          </div>
        </div>
      </div>