<div class="w-layout-grid main-grid">
        <div id="w-node-_4f0b7a0d-22b0-c5f9-47ab-22a9e973279e-e973279d" class="plan-column">
          <div class="w-layout-grid inner-grid-plan">
            <div class="list-wrapper">
              <h3 class="heading-regular text-light">Starter</h3>
              <p class="price">$9<span class="span-small">/mo</span></p>
              <p class="p-small-size min-h">Lorem ipsum dolor sit amet, consectetur adipiscing elit. SuspendissLorem ipsum dolor sit amet, consectetur</p>
            </div>
            <div class="list-wrapper">
              <a href="#" class="button color-red margin-bottom-xsmall w-inline-block">
                <div>Get Started</div>
              </a>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>1,000 Members</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>10 spaces</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>Custom domain</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>Zapier integration</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>SSO with Memberstack</div>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-_4f0b7a0d-22b0-c5f9-47ab-22a9e97327c6-e973279d" class="plan-column recommended">
          <div class="w-layout-grid inner-grid-plan">
            <div class="list-wrapper">
              <h3 class="heading-regular text-light">Professional</h3>
              <p class="price">$29<span class="span-small">/mo</span></p>
              <p class="p-small-size min-h">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendiss</p>
            </div>
            <div class="list-wrapper">
              <a href="#" class="button color-blue margin-bottom-xsmall w-inline-block">
                <div>Get Started</div>
              </a>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>1,000 Members</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>10 spaces</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>Custom domain</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>Zapier integration</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>SSO with Memberstack</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>SSO with Memberstack</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>SSO with Memberstack</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>SSO with Memberstack</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>SSO with Memberstack</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>SSO with Memberstack</div>
              </div>
            </div>
          </div>
          <div class="tag-sale plan">save 25%</div>
        </div>
        <div id="w-node-_4f0b7a0d-22b0-c5f9-47ab-22a9e9732807-e973279d" class="plan-column">
          <div class="w-layout-grid inner-grid-plan">
            <div class="list-wrapper">
              <h3 class="heading-regular text-light">Business</h3>
              <p class="price">$99<span class="span-small">/mo</span></p>
              <p class="p-small-size min-h">Lorem ipsum dolor sit amet, consectetur adipiscing elit. SuspendissLorem ipsum dolor sit amet</p>
            </div>
            <div class="list-wrapper">
              <a href="#" class="button color-red margin-bottom-xsmall w-inline-block">
                <div>Get Started</div>
              </a>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>1,000 Members</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>10 spaces</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>Custom domain</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>Zapier integration</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>SSO with Memberstack</div>
              </div>
            </div>
          </div>
        </div>
      </div>