<div class="w-layout-grid main-grid">
        <div id="w-node-_9be61596-31db-181e-93a6-c3359bddcd2a-9bddcd29" class="gray-wrapper pricing">
          <div class="w-layout-grid content-grid gap-short">
            <div class="price-wrapper margin-bottom-xsmall">
              <h3 class="heading-small-new text-light">PVC Basic</h3>
              <p class="price">€19</p>
            </div><img src="{{ 'ezgif.com-gif-maker-15.gif' | asset_url }}" loading="lazy" width="250" id="w-node-_57e621a1-9dc5-78bd-75b8-783a983c05f4-9bddcd29" alt="" class="image">
            <div class="list-wrapper">
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>Piano Cardz Incluso</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>Stampa 1 Lato</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>Chip NFC Integrato</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>QR&nbsp;Code Print</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>PVC&nbsp;Glossy</div>
              </div>
              <div class="list-flex off">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>Personalizzata 360º</div>
              </div>
              <div class="list-flex off">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>Incisione Laser</div>
              </div>
              <div class="button-plan-wrapper">
                <a href="https://cardz.it/order/cartflows_step/pvc-advanced-fast-order/" class="button w-inline-block">
                  <div>Acquisto Veloce</div>
                </a>
                <a href="https://cardz.it/shop/basic/" class="button color-red w-inline-block">
                  <div>Fai da te</div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-ec02ac35-d092-ad36-a689-3ff8f890d4ca-9bddcd29" class="gray-wrapper pricing">
          <div class="w-layout-grid content-grid gap-short">
            <div class="price-wrapper margin-bottom-xsmall">
              <h3 class="heading-small-new text-light">PVC&nbsp;Advanced</h3>
              <p class="price">€29</p>
            </div><img src="{{ 'ezgif.com-gif-maker-13.gif' | asset_url }}" loading="lazy" width="250" id="w-node-cdca8064-12cc-7765-3ebe-d28f91369850-9bddcd29" alt="" class="image">
            <div class="list-wrapper">
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>Piano Cardz Incluso</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>Stampa 2 Lati</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>Chip NFC Integrato</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>QR&nbsp;Code Print</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>PVC&nbsp;Glossy</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>Personalizzata 360º</div>
              </div>
              <div class="list-flex off">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>Incisione Laser</div>
              </div>
            </div>
          </div>
          <div class="button-plan-wrapper">
            <a href="https://cardz.it/order/cartflows_step/pvc-advanced-fast-order/" class="button w-inline-block">
              <div>Acquisto Veloce</div>
            </a>
            <a href="https://cardz.it/shop/pvc2-cardz-copia/?zdesign=new&amp;ztmp_prefix_add-to-cart=4463&amp;_wp_http_referer=https://cardz.it/shop/" class="button color-red w-inline-block">
              <div class="text-block-6">Fai da te</div>
            </a>
          </div>
        </div>
        <div id="w-node-a82b213a-e40d-f951-4522-7d28fb1873e7-9bddcd29" class="gray-wrapper pricing">
          <div class="w-layout-grid content-grid gap-short">
            <div class="price-wrapper margin-bottom-xsmall">
              <h3 class="heading-small-new text-light">Wood Bamboo</h3>
              <p class="price">€39</p>
            </div><img src="{{ 'ezgif.com-gif-maker-14.gif' | asset_url }}" loading="lazy" width="250" id="w-node-_2b4af7ac-3e95-b1f7-49c6-63757965f4f0-9bddcd29" alt="" class="image">
            <div class="list-wrapper">
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>Piano Cardz Incluso</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>Stampa 2 Lati</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>Chip NFC Integrato</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>QR&nbsp;Code Print</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>Wood Bamboo</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div class="text-block-5">Personalizzata 360º</div>
              </div>
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>Incisione Laser</div>
                <div class="list-flex off"></div>
              </div>
            </div>
          </div>
          <div class="button-plan-wrapper">
            <a href="https://cardz.it/order/cartflows_step/pvc-advanced-fast-order/" class="button w-inline-block">
              <div>Acquisto Veloce</div>
            </a>
            <a href="https://cardz.it/shop/pvc-cardz/?zdesign=new&amp;ztmp_prefix_add-to-cart=828&amp;_wp_http_referer=https://cardz.it/shop/" class="button color-red w-inline-block">
              <div>Fai da te</div>
            </a>
          </div>
        </div>
        <div id="w-node-d107247b-122e-9c98-30e6-61253f698065-9bddcd29" class="gray-wrapper selected-plan pricing">
          <div class="w-layout-grid content-grid gap-short">
            <div class="price-wrapper margin-bottom-xsmall">
              <h3 class="heading-small-new text-light">Hybrid Metal</h3>
              <p class="price">€49</p>
            </div><img src="{{ 'untitled-design-9.png' | asset_url }}" loading="lazy" width="250" id="w-node-_5801edf4-971d-9a20-df2a-71fef914f15a-9bddcd29" alt="" class="image">
            <div class="list-wrapper">
              <div class="list-flex text-white">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>Piano Cardz Incluso</div>
              </div>
              <div class="list-flex text-white">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>Stampa 1 Lato</div>
              </div>
              <div class="list-flex text-white">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>Chip NFC Integrato</div>
              </div>
              <div class="list-flex text-white">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>QR&nbsp;Code Print</div>
              </div>
              <div class="list-flex text-white">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>Hybrid Metal</div>
              </div>
              <div class="list-flex text-white off">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>Personalizzata 360º</div>
              </div>
              <div class="list-flex text-white">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                <div>Incisione Laser</div>
              </div>
              <div class="button-plan-wrapper">
                <a href="https://cardz.it/order/cartflows_step/pvc-advanced-fast-order/" class="button color-red w-inline-block">
                  <div class="text-block-7">Acquisto Veloce</div>
                </a>
                <a href="https://cardz.it/shop/metal-cardz/?zakeke_design=new&amp;zakeke_tmp_prefix_add-to-cart=875" class="button w-inline-block">
                  <div>Fai da te</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>