{% capture listItems %}

{%- assign allItems = collections["tshirts"].products -%}
{%- for item in allItems limit: 3 -%}
  <div role="listitem" class="w-dyn-item">
            <a href="{{ item.url | within: collection }}" class="inner-grid-cms vertical w-inline-block">
              <div class="product-image-wrapper"><img src="{{ item.featured_image | img_url: 'master' }}" loading="lazy" alt="{{ item.featured_image.alt }}" class="image-cms" data-commerce-type="variation-image" srcset="{{ item.featured_image | img_url: '1920x' }} 1920w,{{ item.featured_image | img_url: '1600x' }} 1600w,{{ item.featured_image | img_url: '1366x' }} 1366w,{{ item.featured_image | img_url: '1024x' }} 1024w,{{ item.featured_image | img_url: '768x' }} 768w,{{ item.featured_image | img_url: '640x' }} 640w"></div>
              <div id="w-node-_43c1f87e-1a10-e725-a12d-9914960ff90d-0b251550" class="info-members">
                <h3 class="heading-small-new">{{ item.title }}</h3>
                <div data-commerce-type="variation-price" class="text-small text-white-opacity">{{ item.price | money }}</div>
              </div>
            </a>
          </div>

{%- endfor -%}

{% endcapture %}
{% assign items_length = listItems | strip | size %}

<div class="w-dyn-list" udy-collection="product">
        {%- unless items_length == 0 -%}<div role="list" class="collection-list-news _3-col w-dyn-items">
          {{ listItems }}
        </div>{%- endunless -%}
        {%- if items_length == 0 -%}<div class="w-dyn-empty">
          <div>No items found.</div>
        </div>{%- endif -%}
      </div>