<div class="gray-wrapper no-padding rounded">
        <div class="w-layout-grid main-grid no-gap">
          <div id="w-node-a1dfca66-d594-e9ba-a566-0f6d1e244493-1e244491"><img src="{{ 'happy-business-afro-american-man-standing-smiling-against-blue.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw" srcset="{{ 'happy-business-afro-american-man-standing-smiling-against-blue-p-500.jpeg' | asset_url }} 500w, {{ 'happy-business-afro-american-man-standing-smiling-against-blue-p-800.jpeg' | asset_url }} 800w, {{ 'happy-business-afro-american-man-standing-smiling-against-blue-p-1080.jpeg' | asset_url }} 1080w, {{ 'happy-business-afro-american-man-standing-smiling-against-blue.jpg' | asset_url }} 1200w" alt="" class="full-image"></div>
          <div id="w-node-a1dfca66-d594-e9ba-a566-0f6d1e244495-1e244491" class="wrapper-quote center inner-padding-small">
            <div class="logo-quote large"><img src="{{ 'logo-shogun.svg' | asset_url }}" loading="lazy" alt="" class="image-logo large"></div>
            <div class="center-wrapper padding-bottom-small">
              <p class="main-paragraph margin-bottom-xsmall">" Consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut comd rutrum lorem imperdiet. "</p>
              <div class="ratings inner-padding-micro"><img src="{{ 'star-rating-yellow.svg' | asset_url }}" loading="lazy" alt="" class="ratings-stars"><img src="{{ 'star-rating-yellow.svg' | asset_url }}" loading="lazy" alt="" class="ratings-stars"><img src="{{ 'star-rating-yellow.svg' | asset_url }}" loading="lazy" alt="" class="ratings-stars"><img src="{{ 'star-rating-yellow.svg' | asset_url }}" loading="lazy" alt="" class="ratings-stars"><img src="{{ 'star-rating-gray.svg' | asset_url }}" loading="lazy" alt="" class="ratings-stars"></div>
            </div>
            <div>
              <div class="text-small">Albert Green</div>
              <div class="text-small text-white-opacity">Design Director at Shogun</div>
            </div>
          </div>
        </div>
      </div>