<div class="w-layout-grid main-grid">
        <div id="w-node-_6fd84cd5-447f-e6ee-6c21-8c95e0d79234-e0d79233" class="overflow-wrapper rounded"><img src="{{ 'young-woman-holding-green-leaves.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw" srcset="{{ 'young-woman-holding-green-leaves-p-500.jpeg' | asset_url }} 500w, {{ 'young-woman-holding-green-leaves.jpg' | asset_url }} 1600w" alt="" class="full-image"></div>
        <div id="w-node-_6fd84cd5-447f-e6ee-6c21-8c95e0d79236-e0d79233" class="inner-content-column vertical-center rounded">
          <div class="wrapper-features margin-bottom-small">
            <div class="icon-wrap margin-bottom-xsmall"><img src="{{ 'ic-quote.svg' | asset_url }}" loading="lazy" alt=""></div>
            <h3 class="text">No hassle for you</h3>
            <p class="main-paragraph margin-bottom-xsmall">Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <div class="w-layout-grid profile">
              <div class="image-profile-wrapper small"><img src="{{ 'studio-shot-happy-upbeat-woman-wears-bright-orange-knitted-jumper-bow-headband-holds-hands-chin.jpg' | asset_url }}" loading="lazy" sizes="45px" srcset="{{ 'studio-shot-happy-upbeat-woman-wears-bright-orange-knitted-jumper-bow-headband-holds-hands-chin-p-500.jpeg' | asset_url }} 500w, {{ 'studio-shot-happy-upbeat-woman-wears-bright-orange-knitted-jumper-bow-headband-holds-hands-chin-p-800.jpeg' | asset_url }} 800w, {{ 'studio-shot-happy-upbeat-woman-wears-bright-orange-knitted-jumper-bow-headband-holds-hands-chin.jpg' | asset_url }} 1000w" alt="" class="image-profile"></div>
              <div id="w-node-_6fd84cd5-447f-e6ee-6c21-8c95e0d79241-e0d79233">
                <div><strong>Megan Fox</strong></div>
                <div class="wrapper-blurb">
                  <div>Design Director at SuperSkills</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>