<div id="w-node-c19866b6-8d7b-eed9-acef-dc62807053ba-807053ba" class="gray-wrapper quote">
          <div class="w-layout-grid content-grid">
            <div class="paragraph-wrapper padding-bottom-small"><img src="{{ 'ic-quote.svg' | asset_url }}" loading="lazy" alt="" class="quote-icon">
              <h3 class="heading-regular">Addio biglietti da visita!</h3>
              <p class="main-paragraph">Prodotto valido e molto semplice nell’uso. La comodità di avere sempre con se il biglietto da visita senza girare con un mazzo di carte è fantastica. </p>
              <div class="ratings inner-padding-xsmall margin-bottom-xsmall"><img src="{{ 'star-rating-yellow.svg' | asset_url }}" loading="lazy" alt="" class="ratings-stars"><img src="{{ 'star-rating-yellow.svg' | asset_url }}" loading="lazy" alt="" class="ratings-stars"><img src="{{ 'star-rating-yellow.svg' | asset_url }}" loading="lazy" alt="" class="ratings-stars"><img src="{{ 'star-rating-yellow.svg' | asset_url }}" loading="lazy" alt="" class="ratings-stars"><img src="{{ 'star-rating-yellow.svg' | asset_url }}" loading="lazy" alt="" class="ratings-stars"></div>
            </div>
            <div class="w-layout-grid profile">
              <div class="image-profile-wrapper small"><img src="{{ 'trustpilot-some-icon-1000px-circle.png' | asset_url }}" loading="lazy" sizes="45px" srcset="{{ 'trustpilot-some-icon-1000px-circle-p-500.png' | asset_url }} 500w, {{ 'trustpilot-some-icon-1000px-circle-p-800.png' | asset_url }} 800w, {{ 'trustpilot-some-icon-1000px-circle.png' | asset_url }} 1000w" alt="" class="image-profile"></div>
              <div id="w-node-c19866b6-8d7b-eed9-acef-dc62807053cb-807053ba" class="flex-name">
                <div class="text-small">Michele Marangoni</div>
                <div class="text-small text-white-opacity">Recensione verificata da TrustPilot</div>
              </div>
            </div>
          </div>
        </div>