<div class="gray-wrapper margin-bottom-xsmall">
        <div class="w-layout-grid main-grid inner-padding-small">
          <div id="w-node-f17c5b51-4a4a-54bb-ea69-fc06a15b3f2b-a15b3f29" class="wrapper-user-info">
            <div class="image-profile-wrapper large margin-bottom-xsmall"><img src="{{ 'waist-up-shot-attractive-young-girlfriend-with-dark-straight-hair-soft-healthy-skin.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'waist-up-shot-attractive-young-girlfriend-with-dark-straight-hair-soft-healthy-skin-p-500.jpeg' | asset_url }} 500w, {{ 'waist-up-shot-attractive-young-girlfriend-with-dark-straight-hair-soft-healthy-skin.jpg' | asset_url }} 600w" alt="" class="full-image"></div>
            <div>
              <div><strong>Megan Fox</strong></div>
              <div class="text-small text-white-opacity">Design Director at Ronda</div><img src="{{ 'logo-ronda.svg' | asset_url }}" loading="lazy" alt="" class="logo-quote">
            </div>
          </div>
          <div id="w-node-f17c5b51-4a4a-54bb-ea69-fc06a15b3f35-a15b3f29"><img src="{{ 'ic-quote.svg' | asset_url }}" loading="lazy" alt="" class="quote-icon">
            <h3>Absolutely Superb!</h3>
            <p class="main-paragraph">Consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo lorem imperdiet</p>
            <div class="ratings inner-padding-xsmall"><img src="{{ 'star-rating-yellow.svg' | asset_url }}" loading="lazy" alt="" class="ratings-stars large"><img src="{{ 'star-rating-yellow.svg' | asset_url }}" loading="lazy" alt="" class="ratings-stars large"><img src="{{ 'star-rating-yellow.svg' | asset_url }}" loading="lazy" alt="" class="ratings-stars large"><img src="{{ 'star-rating-yellow.svg' | asset_url }}" loading="lazy" alt="" class="ratings-stars large"><img src="{{ 'star-rating-yellow.svg' | asset_url }}" loading="lazy" alt="" class="ratings-stars large"></div>
          </div>
        </div>
      </div>