<div class="w-layout-grid main-grid">
          <div id="w-node-_9e4eb399-aa76-58f0-e088-2fd094e40186-94e40185" class="image-grid-wrapper rounded"><img src="{{ 'ui-007.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw" srcset="{{ 'ui-007-p-500.png' | asset_url }} 500w, {{ 'ui-007-p-800.png' | asset_url }} 800w, {{ 'ui-007-p-1080.png' | asset_url }} 1080w, {{ 'ui-007.png' | asset_url }} 2700w" alt="" class="full-image"></div>
          <div id="w-node-_9e4eb399-aa76-58f0-e088-2fd094e40188-94e40185" class="w-layout-grid grid-stats gap">
            <div id="w-node-_9e4eb399-aa76-58f0-e088-2fd094e40189-94e40185" class="gray-wrapper">
              <div data-w-id="cac9e65f-e277-3b0b-8d5d-0fa6a4397317" class="w-layout-grid content-grid gap-short">
                <h3 class="value small">Step 1</h3>
                <p class="p-small-size">Personalizza la tua cardz come preferisci.<br>Aggiungi immagini, loghi, il tuo nome, il nome della tua azienda. Sia fronte che retro. Completa il tuo ordine.</p>
              </div>
            </div>
            <div class="gray-wrapper">
              <div class="w-layout-grid content-grid gap-short">
                <h3 class="value small">Step 2</h3>
                <p class="p-small-size">Personalizza la tua Landing Page. Puoi aggiungere sfondi, colori,immagine profilo, social, video, e soprattutto la tua VCARD, per condividere<br> i tuoi contatti in un solo gesto.</p>
              </div>
            </div>
            <div id="w-node-_9e4eb399-aa76-58f0-e088-2fd094e40193-94e40185" class="gray-wrapper">
              <div class="w-layout-grid content-grid gap-short">
                <h3 class="value small">Step 3</h3>
                <p class="p-small-size">Ora hai la tua Cardz collegata alla tua Landing Page esclusiva.<br>Non ti resta che condividere il tuo mondo con un semplice tocco<br>sullo smartphone o con la scansione del QR.</p>
              </div>
            </div>
          </div>
        </div>