{%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "627929cccf40a9869925153a" -%}{%- assign bodyClasses = "" -%}
  {%- render 'loader' -%}
  {%- section 'global-nav' -%}
  <div class="section wf-section">
    <div class="w-layout-grid hero-grid-header">
      <div id="w-node-_3a0f5fec-828a-eafa-5dce-f5c5693cd89f-9925153a" class="wrap-container">
        <div class="w-layout-grid main-grid">
          <div id="w-node-ca850897-97af-cccd-0876-e55de8024ec1-9925153a" class="wrapper-container inner-padding-small">
            <div class="container header w-container">
              <div class="text-block-12">IL&nbsp;PIU' AVANZATO</div>
              <h1 class="heading-xlarge _16-ch">BIGLIETTO&nbsp;DA&nbsp;VISITA NFC + QR<br></h1>
              <p class="paragraph-2"><strong class="bold-text">Il biglietto da visita NFC e QR &nbsp;<br>permette la condivisione in modo totalmente CONTACTLESS. <br>Cardz permette molto di più.</strong></p>
              <p class="paragraph-2"><strong class="bold-text-2">Semplicemente la card che ti cambierà...</strong></p>
            </div>
            <div data-w-id="cf0bf6e4-a6ca-822f-0339-04679feb576e" style="opacity:0" class="text-block-copy">LA&nbsp;VITA</div>
          </div>
        </div>
      </div>
      <div id="w-node-b3fdc0c4-7162-b493-f01a-ac52dffe4cd2-9925153a" class="hero-images-wrapper">
        <div class="hero-rail">
          <div style="-webkit-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="rail-wrapper-reverse">
            <div class="w-layout-grid grid-rail">
              <div class="frame-image-overflow no-frame"><img src="{{ 'untitled-design-high-quality-2021-12-21t213255.600.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 25vw, (max-width: 991px) 35vw, 25vw" srcset="{{ 'untitled-design-high-quality-2021-12-21t213255.600-p-500.jpeg' | asset_url }} 500w, {{ 'untitled-design-high-quality-2021-12-21t213255.600.jpg' | asset_url }} 700w" alt="cardz esempio bni" class="image-tiles-hero _3d"></div>
              <div id="w-node-b3fdc0c4-7162-b493-f01a-ac52dffe4cd7-9925153a" class="frame-image-overflow no-frame"><img src="{{ 'untitled-design-high-quality-2021-12-22t011549.479.jpg' | asset_url }}" loading="lazy" alt="" class="image-tiles-hero _3d-reverse"></div>
              <div class="frame-image-overflow no-frame"><img src="{{ 'untitled-design-high-quality-2021-12-22t003911.508.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 25vw, (max-width: 991px) 35vw, 25vw" srcset="{{ 'untitled-design-high-quality-2021-12-22t003911.508-p-500.jpeg' | asset_url }} 500w, {{ 'untitled-design-high-quality-2021-12-22t003911.508.jpg' | asset_url }} 700w" alt="Cardz" class="image-tiles-hero _3d-flip"></div>
              <div class="frame-image-overflow no-frame"><img src="{{ 'untitled-design-high-quality-2021-12-22t010422.639.jpg' | asset_url }}" loading="lazy" alt="" class="image-tiles-hero _3d-reverse"></div>
              <div class="frame-image-overflow no-frame"><img src="{{ 'untitled-design-high-quality-2021-12-22t010614.953.jpg' | asset_url }}" loading="lazy" alt="Biglietto da visita digitale cardz
" class="image-tiles-hero _3d-reverse"></div>
            </div>
          </div>
          <div style="-webkit-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="rail-wrapper-reverse">
            <div class="w-layout-grid grid-rail">
              <div class="frame-image-overflow no-frame"><img src="{{ 'untitled-design-high-quality-2021-12-22t003351.883.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 25vw, (max-width: 991px) 35vw, 25vw" srcset="{{ 'untitled-design-high-quality-2021-12-22t003351.883-p-500.jpeg' | asset_url }} 500w, {{ 'untitled-design-high-quality-2021-12-22t003351.883.jpg' | asset_url }} 700w" alt="biglietto digitale migliore cardz" class="image-tiles-hero _3d"></div>
              <div id="w-node-f7cb9ac5-0411-fb4d-7650-b7aaa956b9a6-9925153a" class="frame-image-overflow no-frame"><img src="{{ 'untitled-design-high-quality-2021-12-22t005839.691.jpg' | asset_url }}" loading="lazy" alt="biglietto da visita elettronico cardz" class="image-tiles-hero _3d-reverse"></div>
              <div class="frame-image-overflow no-frame"><img src="{{ 'untitled-design-high-quality-2021-12-22t003321.468.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 25vw, (max-width: 991px) 35vw, 25vw" srcset="{{ 'untitled-design-high-quality-2021-12-22t003321.468-p-500.jpeg' | asset_url }} 500w, {{ 'untitled-design-high-quality-2021-12-22t003321.468.jpg' | asset_url }} 700w" alt="" class="image-tiles-hero _3d-flip"></div>
              <div class="frame-image-overflow no-frame"><img src="{{ 'untitled-design-high-quality-2021-12-22t003140.784.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 25vw, (max-width: 991px) 35vw, 25vw" srcset="{{ 'untitled-design-high-quality-2021-12-22t003140.784-p-500.jpeg' | asset_url }} 500w, {{ 'untitled-design-high-quality-2021-12-22t003140.784.jpg' | asset_url }} 700w" alt="" class="image-tiles-hero _3d-reverse"></div>
              <div class="frame-image-overflow no-frame"><img src="{{ 'untitled-design-high-quality-2021-12-22t003233.364.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 25vw, (max-width: 991px) 35vw, 25vw" srcset="{{ 'untitled-design-high-quality-2021-12-22t003233.364-p-500.jpeg' | asset_url }} 500w, {{ 'untitled-design-high-quality-2021-12-22t003233.364.jpg' | asset_url }} 700w" alt="" class="image-tiles-hero _3d-reverse"></div>
            </div>
          </div>
        </div>
        <div class="hero-rail">
          <div class="rail-wrapper">
            <div class="w-layout-grid grid-rail">
              <div class="frame-image-overflow no-frame"><img src="{{ 'untitled-design-high-quality-2021-12-22t010220.810.jpg' | asset_url }}" loading="lazy" alt="card digitale nfc cardz" class="image-tiles-hero _3d-reverse"></div>
              <div id="w-node-c463e99f-f45d-6b6f-b6aa-deeba0869846-9925153a" class="frame-image-overflow no-frame"><img src="{{ 'untitled-design-high-quality-2021-12-22t010310.800.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 25vw, (max-width: 991px) 35vw, 25vw" srcset="{{ 'untitled-design-high-quality-2021-12-22t010310.800-p-500.jpeg' | asset_url }} 500w, {{ 'untitled-design-high-quality-2021-12-22t010310.800.jpg' | asset_url }} 700w" alt="generali cardz biglietto nfc" class="image-tiles-hero _3d"></div>
              <div class="frame-image-overflow no-frame"><img src="{{ 'untitled-design-high-quality-2021-12-22t010137.019.jpg' | asset_url }}" loading="lazy" alt="" class="image-tiles-hero _3d-flip"></div>
              <div class="frame-image-overflow no-frame"><img src="{{ 'untitled-design-high-quality-2021-12-22t010707.445.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 25vw, (max-width: 991px) 35vw, 25vw" srcset="{{ 'untitled-design-high-quality-2021-12-22t010707.445-p-500.jpeg' | asset_url }} 500w, {{ 'untitled-design-high-quality-2021-12-22t010707.445.jpg' | asset_url }} 700w" alt="cardz biglietto da visita digitale migliore" class="image-tiles-hero"></div>
              <div class="frame-image-overflow no-frame"><img src="{{ 'untitled-design-high-quality-2021-12-22t005616.848.jpg' | asset_url }}" loading="lazy" alt="biglietto digitale avanzato card nfc " class="image-tiles-hero _3d-reverse"></div>
            </div>
          </div>
          <div class="rail-wrapper">
            <div class="w-layout-grid grid-rail">
              <div class="frame-image-overflow no-frame"><img src="{{ 'untitled-design-high-quality-2021-12-22t005447.033.jpg' | asset_url }}" loading="lazy" alt="" class="image-tiles-hero _3d-reverse"></div>
              <div id="w-node-fdb465fa-d02a-6a07-1133-2ec869fc53ac-9925153a" class="frame-image-overflow no-frame"><img src="{{ 'untitled-design-high-quality-2021-12-22t010803.788.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 25vw, (max-width: 991px) 35vw, 25vw" srcset="{{ 'untitled-design-high-quality-2021-12-22t010803.788-p-500.jpeg' | asset_url }} 500w, {{ 'untitled-design-high-quality-2021-12-22t010803.788.jpg' | asset_url }} 700w" alt="card digitale per biglietto da visita nfc qr brand Cardz per Cipi" class="image-tiles-hero _3d"></div>
              <div class="frame-image-overflow no-frame"><img src="{{ 'untitled-design-high-quality-2021-12-22t012025.838.jpg' | asset_url }}" loading="lazy" alt="uncover cardz biglietto da visita digitale nfc qr" class="image-tiles-hero _3d-flip"></div>
              <div class="frame-image-overflow no-frame"><img src="{{ 'untitled-design-high-quality-2021-12-22t011925.417.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 25vw, (max-width: 991px) 35vw, 25vw" srcset="{{ 'untitled-design-high-quality-2021-12-22t011925.417-p-500.jpeg' | asset_url }} 500w, {{ 'untitled-design-high-quality-2021-12-22t011925.417.jpg' | asset_url }} 700w" alt="" class="image-tiles-hero"></div>
              <div class="frame-image-overflow no-frame"><img src="{{ 'untitled-design-high-quality-2021-12-22t011822.437.jpg' | asset_url }}" loading="lazy" alt="carta digitale come biglietto da visita del futuro cardz.it" class="image-tiles-hero _3d-reverse"></div>
            </div>
          </div>
        </div>
      </div>
      <div id="w-node-d68f6320-2373-2433-0132-2ed5f3b9de3d-9925153a" class="device-wrapper">
        <div class="div-block"><img src="{{ 'untitled-design-4.png' | asset_url }}" loading="lazy" alt="Biglietto da visita digitale che diventa un'app presentato da Cardz, leader in biglietti nfc e qr" class="image-iphone"></div>
      </div>
    </div>
  </div>
  <div class="section-2 wf-section">
    <div class="container inner-padding-medium w-container">
      <div class="heading-wrapper-center margin-bottom-small">
        <div class="wrapper-black">
          <div class="text-block-13">Amato da 2000+ aziende italiane</div>
        </div>
      </div>
      <div class="w-layout-grid main-grid inner-padding-small">
        <div id="w-node-_87feeca3-e733-f365-dfb5-9314443c891b-9925153a" data-w-id="87feeca3-e733-f365-dfb5-9314443c891b" class="logos-wrapper"><img src="{{ 'hgh-1-1.svg' | asset_url }}" loading="lazy" alt="" class="image-logo"></div>
        <div id="w-node-_87feeca3-e733-f365-dfb5-9314443c891d-9925153a" class="logos-wrapper"><img src="{{ '1280px-stemma_della_societa_sportiva_laziosvg-1.svg' | asset_url }}" loading="lazy" alt="" class="image-logo"></div>
        <div id="w-node-_87feeca3-e733-f365-dfb5-9314443c891f-9925153a" class="logos-wrapper"><img src="{{ 'logo-peroni-corporate_mono_bianco_rgb.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 55vw, 130px" srcset="{{ 'logo-peroni-corporate_mono_bianco_rgb-p-500.png' | asset_url }} 500w, {{ 'logo-peroni-corporate_mono_bianco_rgb-p-800.png' | asset_url }} 800w, {{ 'logo-peroni-corporate_mono_bianco_rgb-p-1080.png' | asset_url }} 1080w, {{ 'logo-peroni-corporate_mono_bianco_rgb.png' | asset_url }} 2363w" alt="Peroni sceglie Cardz per i nuovi biglietti da visita digitali con nfc e qr" class="image-logo"></div>
        <div id="w-node-_87feeca3-e733-f365-dfb5-9314443c8921-9925153a" class="logos-wrapper"><img src="{{ 'media_banca_popolare_sondrio_esercizio_2020_1.svg' | asset_url }}" loading="lazy" alt="" class="image-logo"></div>
        <div id="w-node-_87feeca3-e733-f365-dfb5-9314443c8923-9925153a" class="logos-wrapper"><img src="{{ 'lambofront.svg' | asset_url }}" loading="lazy" alt="" class="image-logo"></div>
        <div id="w-node-_87feeca3-e733-f365-dfb5-9314443c8925-9925153a" class="logos-wrapper"><img src="{{ 'bper.svg' | asset_url }}" loading="lazy" alt="" class="image-logo"></div>
        <div id="w-node-_87feeca3-e733-f365-dfb5-9314443c8927-9925153a" class="logos-wrapper"><img src="{{ 'grebianco.svg' | asset_url }}" loading="lazy" alt="" class="image-logo"></div>
        <div id="w-node-_87feeca3-e733-f365-dfb5-9314443c8929-9925153a" class="logos-wrapper"><img src="{{ 'schermata2021-12-22alle233922.svg' | asset_url }}" loading="lazy" alt="" class="image-logo"></div>
        <div id="w-node-_87feeca3-e733-f365-dfb5-9314443c892b-9925153a" class="logos-wrapper"><img src="{{ 'camera-logo.svg' | asset_url }}" loading="lazy" alt="" class="image-logo"></div>
        <div id="w-node-_87feeca3-e733-f365-dfb5-9314443c892d-9925153a" class="logos-wrapper"><img src="{{ 'didofa-logo_large.svg' | asset_url }}" loading="lazy" alt="" class="image-logo"></div>
        <div id="w-node-_87feeca3-e733-f365-dfb5-9314443c892f-9925153a" class="logos-wrapper"><img src="{{ 'schermata2022-03-11alle200808-1.svg' | asset_url }}" loading="lazy" alt="" class="image-logo"></div>
        <div id="w-node-_87feeca3-e733-f365-dfb5-9314443c8931-9925153a" class="logos-wrapper"><img src="{{ 'logoipartsbianco.svg' | asset_url }}" loading="lazy" alt="" class="image-logo"></div>
      </div>
    </div>
    <div data-w-id="0bfe2ab7-f402-02c8-8911-928c88b507d4" class="hero-track">
      <div class="wrapper-sticky">
        <div class="overflow-wrapper top-padding">
          <div class="w-layout-grid main-grid-copy hero-images">
            <div id="w-node-_0bfe2ab7-f402-02c8-8911-928c88b507d8-9925153a" class="frame-image-hero _01"><img src="{{ 'alexander-grigoryev-kcxdsdsebms-unsplash.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'alexander-grigoryev-kcxdsdsebms-unsplash-p-500.jpeg' | asset_url }} 500w, {{ 'alexander-grigoryev-kcxdsdsebms-unsplash.jpg' | asset_url }} 800w" alt="" class="full-image"></div>
            <div id="w-node-_0bfe2ab7-f402-02c8-8911-928c88b507da-9925153a" class="frame-image-hero _02"><img src="{{ 'portrait-bearded-young.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'portrait-bearded-young-p-500.jpeg' | asset_url }} 500w, {{ 'portrait-bearded-young-p-800.jpeg' | asset_url }} 800w, {{ 'portrait-bearded-young.jpg' | asset_url }} 900w" alt="" class="full-image"></div>
            <div id="w-node-_0bfe2ab7-f402-02c8-8911-928c88b507dc-9925153a" class="frame-image-hero _03"><img src="{{ 'isaac-quesada-w8-sp1dlew-unsplash_1.jpg' | asset_url }}" loading="lazy" alt="" class="full-image"></div>
            <div id="w-node-_0bfe2ab7-f402-02c8-8911-928c88b507de-9925153a" class="frame-image-hero _04"><img src="{{ 'anunay-rai-1bcfkfeavva-unsplash.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'anunay-rai-1bcfkfeavva-unsplash-p-500.jpeg' | asset_url }} 500w, {{ 'anunay-rai-1bcfkfeavva-unsplash-p-800.jpeg' | asset_url }} 800w, {{ 'anunay-rai-1bcfkfeavva-unsplash-p-1080.jpeg' | asset_url }} 1080w, {{ 'anunay-rai-1bcfkfeavva-unsplash.jpg' | asset_url }} 1200w" alt="" class="full-image"></div>
            <div id="w-node-_0bfe2ab7-f402-02c8-8911-928c88b507e0-9925153a" class="frame-image-hero _05"><img src="{{ 'pretty-curly-woman-holds-modern-2.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'pretty-curly-woman-holds-modern-2-p-500.jpeg' | asset_url }} 500w, {{ 'pretty-curly-woman-holds-modern-2-p-800.jpeg' | asset_url }} 800w, {{ 'pretty-curly-woman-holds-modern-2.jpg' | asset_url }} 900w" alt="" class="full-image"></div>
          </div>
        </div>
      </div>
      <div class="inner-track">
        <div class="container w-container">
          <div class="wrapper-heading inner-padding-medium"><img src="{{ 'untitled-design-13.png' | asset_url }}" loading="lazy" alt="Nuovi biglietti da visita digitali, il biglietto da visita con NFC QR e che diventa un app" class="image-4">
            <h1 class="heading-xlarge _16-ch">BIGLIETTO&nbsp;DA&nbsp;VISITA <br>DIGITALE<br></h1>
          </div>
        </div>
      </div>
      <div class="container-copy w-container">
        <div class="paragraph-wrapper-center-copy inner-padding-medium">
          <p class="main-paragraph-home-copy size-large">A volte cambiare è più semplice di quanto pensiamo.<br>Ogni volta che poi troviamo il coraggio di farlo ci domandiamo perchè non lo avevamo fatto prima...<br>Adesso è il momento di passare al <br>Biglietto da Visita NFC e QR<br>‍<br>Immagina di non dover più stampare periodicamente biglietti da visita che poi nel 90% dei casi andranno persi,dimenticati...<br>Immagina una Card che in pratica racchiude tutto ciò che SEI.</p>
        </div>
      </div>
      <div class="container-copy w-container">
        <div class="text-block-8">Biglietto da Visita Digitale in 3 Step..</div>
        {%- render 'stats-01' -%}
      </div>
    </div>
  </div>
  <div class="w-layout-grid grid-buttons-copy inner-padding-small">
    <a href="#123" data-w-id="7a5f3afa-c9bf-2379-28ec-14e993e4fd27" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(-720DEG) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(-720DEG) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(-720DEG) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(-720DEG) rotateZ(0) skew(0, 0);transform-style:preserve-3d" class="button color-red w-inline-block">
      <div>Crea la tua Cardz</div><img src="{{ 'cta-arrow-white.svg' | asset_url }}" loading="lazy" alt="" class="icon-arrow">
    </a>
    <a href="#" id="w-node-_7a5f3afa-c9bf-2379-28ec-14e993e4fd2b-9925153a" data-w-id="7a5f3afa-c9bf-2379-28ec-14e993e4fd2b" style="opacity:0" class="lightbox-link w-inline-block w-lightbox"><img src="{{ 'icon-play_1.svg' | asset_url }}" loading="lazy" alt="" class="icon-play-button">
      <div>Trailer</div>
      <script type="application/json" class="w-json">{"items":[{"url":"https://www.youtube.com/watch?v=GjVhnSgKHjM","originalUrl":"https://www.youtube.com/watch?v=GjVhnSgKHjM","width":940,"height":528,"thumbnailUrl":"https://i.ytimg.com/vi/GjVhnSgKHjM/hqdefault.jpg","html":"<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FGjVhnSgKHjM%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DGjVhnSgKHjM&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FGjVhnSgKHjM%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen\" allowfullscreen=\"true\"></iframe>","type":"video"}],"group":""}</script>
    </a>
    <a data-w-id="7a5f3afa-c9bf-2379-28ec-14e993e4fd2f" style="opacity:0" href="https://cardz.it/order/cartflows_step/pvc-advanced-fast-order/" class="button w-inline-block">
      <div>Crea con il Team</div><img src="{{ 'cta-arrow-white.svg' | asset_url }}" loading="lazy" alt="" class="icon-arrow">
    </a>
  </div>
  <div class="wf-section">
    <div class="container-4 phone-container">
      <div class="w-layout-grid grid-6-col">
        <div id="w-node-_3646aa02-5267-30e3-1844-ea22c8321900-9925153a" class="content phone-content-text">
          <div class="fade-in-on-scroll">
            <div class="app-icon-text-holder">
              <div class="text-block-2">La nuova era inizia con Cardz</div>
            </div>
          </div>
          <div class="fade-in-on-scroll">
            <h2 class="heading">Il primo <br>Biglietto da Visita Digitale<br>che diventa un' APP!</h2>
          </div>
          <div class="download-buttons mobile-vertical">
            <div class="download-button">
              <div class="fade-in-on-scroll">
                <a href="#2COSEDICARDZ" class="button-2 download w-inline-block"><img src="{{ 'apple-icon.svg' | asset_url }}" loading="lazy" alt="" class="download-button-icon">
                  <div> Compatibile con iOS</div>
                </a>
              </div>
            </div>
            <div class="download-button last">
              <div class="fade-in-on-scroll">
                <a href="#2COSEDICARDZ" class="button-2 download w-inline-block"><img src="{{ 'android-icon.svg' | asset_url }}" loading="lazy" alt="" class="download-button-icon">
                  <div> Compatibile con Android</div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-_3646aa02-5267-30e3-1844-ea22c8321917-9925153a" class="content">
          <div data-w-id="3646aa02-5267-30e3-1844-ea22c8321918" style="opacity:0" class="phone-holder-container">
            <div class="phone-slider-container">
              <div data-delay="2000" data-animation="fade" class="phone-slider w-slider" data-autoplay="true" data-easing="ease-out" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
                <div class="phone-slider-mask w-slider-mask">
                  <div class="phone-slide w-slide"><img src="{{ 'untitled-design-high-quality-3-min.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 158px, 239px" srcset="{{ 'untitled-design-high-quality-3-min-p-500.jpeg' | asset_url }} 500w, {{ 'untitled-design-high-quality-3-min-p-800.jpeg' | asset_url }} 800w, {{ 'untitled-design-high-quality-3-min.jpg' | asset_url }} 1125w" alt="" class="phone-slide-image"></div>
                  <div class="phone-slide w-slide"><img src="{{ 'untitled-design-high-quality-4-min.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 158px, 239px" srcset="{{ 'untitled-design-high-quality-4-min-p-500.jpeg' | asset_url }} 500w, {{ 'untitled-design-high-quality-4-min-p-800.jpeg' | asset_url }} 800w, {{ 'untitled-design-high-quality-4-min.jpg' | asset_url }} 1125w" alt="Biglietto da visita che diventa app presentato da Cardz" class="phone-slide-image"></div>
                  <div class="phone-slide w-slide"><img src="{{ 'untitled-design-high-quality-2-min.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 158px, 239px" srcset="{{ 'untitled-design-high-quality-2-min-p-500.jpeg' | asset_url }} 500w, {{ 'untitled-design-high-quality-2-min-p-800.jpeg' | asset_url }} 800w, {{ 'untitled-design-high-quality-2-min-p-1080.jpeg' | asset_url }} 1080w, {{ 'untitled-design-high-quality-2-min.jpg' | asset_url }} 1125w" alt="Demo landing page web del tuo biglietto da visita cardz" class="phone-slide-image"></div>
                </div>
                <div class="phone-slider-arrows w-slider-arrow-left">
                  <div class="w-icon-slider-left"></div>
                </div>
                <div class="phone-slider-arrows w-slider-arrow-right">
                  <div class="w-icon-slider-right"></div>
                </div>
                <div class="phone-slide-nav w-slider-nav w-round"></div>
              </div>
            </div><img src="{{ 'untitled-design-2022-01-03t122826.883.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 350px, 530px" srcset="{{ 'untitled-design-2022-01-03t122826.883-p-500.png' | asset_url }} 500w, {{ 'untitled-design-2022-01-03t122826.883.png' | asset_url }} 800w" alt="" class="phone-holder-image">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section wf-section">
    <div class="container w-container">
      <div class="heading-wrapper-center padding-bottom-medium">
        <div class="wrapper-black">
          <h3 data-w-id="40387943-0b44-dcaa-ebab-5bbacba32874" class="heading-large2 text-white">Il Biglietto da Visita Digitale<br></h3>
        </div>
        <div class="text-block-14">CHE&nbsp;NON&nbsp;CONOSCE LIMITI</div>
      </div>
      <div class="w-layout-grid main-grid margin-bottom-small">
        <div id="w-node-_08f34b3a-f37f-f9f9-4979-af36e0d3abb7-9925153a" data-w-id="08f34b3a-f37f-f9f9-4979-af36e0d3abb7" class="gray-wrapper block-icons">
          <div class="w-layout-grid content-grid gap-short">
            <div class="icon-wrapper"><img src="{{ 'ic-006-color.svg' | asset_url }}" loading="lazy" alt="" class="icon-content"><img src="{{ 'iphone-11-pro-mockup-featuring-a-man-wearing-a-watch-2153-el1-1.png' | asset_url }}" loading="lazy" alt="Salvare contatto rubrica direttamente dal biglietto da visita card nfc qr con cardz digitale" class="image-2"></div>
            <div class="small-paragraph-wrapper">
              <h3 class="heading-small-new">Il tuo contatto salvato in rubrica... in 3 Secondi!</h3>
              <p class="p-small-size text-white-opacity">Niente dettati o salti tra un'app e l'altra, con il rischio di sbagliare. Per salvare in rubrica il tuo numero i tuoi clienti dovranno soltanto procedere con 2 semplici Click!</p>
            </div>
          </div>
        </div>
        <div id="w-node-_08f34b3a-f37f-f9f9-4979-af36e0d3abbf-9925153a" class="gray-wrapper block-icons">
          <div class="w-layout-grid content-grid gap-short">
            <div class="icon-wrapper"><img src="{{ 'ic-013.svg' | asset_url }}" loading="lazy" alt="" class="icon-content"><img src="{{ 'webp.net-resizeimage-10.jpg' | asset_url }}" loading="lazy" alt="Aggiornare il tuo biglietto da visita in tempo reale con Dashboard di Cardz, la più avanzata del web." class="image-2"></div>
            <div class="small-paragraph-wrapper">
              <h3 class="heading-small-new">100% Personalizzabile...<br>Cardz e Landing Page!</h3>
              <p class="p-small-size text-white-opacity">Tutto in Real Time! Non solo la personalizzazione della tua Cardz è visibile in una preview...<br>Anche quando crei e modifichi la tua landing page avrai un'anteprima del tuo lavoro!</p>
            </div>
          </div>
        </div>
        <div id="w-node-_08f34b3a-f37f-f9f9-4979-af36e0d3abc7-9925153a" class="gray-wrapper block-icons">
          <div class="w-layout-grid content-grid gap-short">
            <div class="icon-wrapper"><img src="{{ 'ic-007-color.svg' | asset_url }}" loading="lazy" alt="" class="icon-content"><img src="{{ 'webp.net-resizeimage-11-1.jpg' | asset_url }}" loading="lazy" alt="Aggiorna il tuo biglietto da visita digitale quando vuoi con cardz" class="image-2"></div>
            <div class="small-paragraph-wrapper">
              <h3 class="heading-small-new">Aggiorna, modifica, elimina...in tempo REALE!</h3>
              <p class="p-small-size text-white-opacity"><strong>Immagina di poter cambiare un numero di telefono, un indirizzo, aggiungere un link... e che puoi farlo in pochi secondi! Si, funziona davvero così!</strong></p>
            </div>
          </div>
        </div>
        <div id="w-node-_08f34b3a-f37f-f9f9-4979-af36e0d3abcf-9925153a" class="gray-wrapper block-icons">
          <div class="w-layout-grid content-grid gap-short">
            <div class="icon-wrapper"><img src="{{ 'ic-012.svg' | asset_url }}" loading="lazy" alt="" class="icon-content"><img src="{{ 'webp.net-resizeimage-9-1.jpg' | asset_url }}" loading="lazy" alt="Gestisci il team di lavoro con biglietti da visita digitali avanzi di cardz con nfc e qr" class="image-2"></div>
            <div id="w-node-_08f34b3a-f37f-f9f9-4979-af36e0d3abd4-9925153a" class="small-paragraph-wrapper">
              <h3 class="heading-small-new">Il biglietto da visita che lavora al posto TUO!</h3>
              <p class="p-small-size text-white-opacity"><strong>La tua landing page collegata a Cardz ha statistiche dettagliate e puoi collegare i tuoi Pixel di Google, Facebook, Linkedin, Twitter, ecc..<br>Tieni tutto sotto controllo!</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-w-id="42d63e69-4304-48a1-2bf3-aaa00065bd28" class="big-heading-wrapper">
      <div class="xlarge-scroll-heading"> <span class="scribble">NFC + Qr</span> </div>
    </div>
    <div class="container w-container">
      <div class="w-layout-grid main-grid">
        <div id="w-node-_00085afd-b644-6561-035d-7202a12858a9-9925153a" class="image-grid-wrapper rounded">
          <div data-w-id="f3cbadc3-fd8e-523d-60a9-8b513fe72706" class="lottie-animation" data-animation-type="lottie" data-src="{{ 'isometric-phone-best.json' | asset_url }}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="9" data-duration="0"></div>
        </div>
        <div id="w-node-_00085afd-b644-6561-035d-7202a12858ab-9925153a" class="grid-wrapper">
          <div class="paragraph-wrapper margin-bottom-xsmall">
            <h4 class="heading-xlarge">Biglietto NFC.</h4>
            <p class="main-paragraph bold">Grazie al chip NFC integrato ogni Cardz è Contactless! Basta avvicinarla allo smartphone...</p>
            <a href="#" class="link-wrapper inner-padding-micro w-inline-block">
              <div>Scopri di più</div><img src="{{ 'cta-arrow-white.svg' | asset_url }}" loading="lazy" alt="" class="icon-arrow">
            </a>
          </div>
        </div>
      </div>
      <div class="w-layout-grid main-grid inner-padding-medium">
        <div id="w-node-_7cf70d58-9c4a-4cc9-e1d1-ab41213a0fa1-9925153a" class="image-grid-wrapper rounded"><img src="{{ 'untitled-design-high-quality-1.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw" srcset="{{ 'untitled-design-high-quality-1-p-500.jpeg' | asset_url }} 500w, {{ 'untitled-design-high-quality-1.jpg' | asset_url }} 800w" alt="" class="full-image"></div>
        <div id="w-node-_7cf70d58-9c4a-4cc9-e1d1-ab41213a0fa3-9925153a" class="grid-wrapper">
          <div class="paragraph-wrapper margin-bottom-xsmall">
            <h5 data-w-id="7cf70d58-9c4a-4cc9-e1d1-ab41213a0fa5" style="opacity:0" class="heading-xlarge">Biglietto<br>QR.</h5>
            <p data-w-id="7cf70d58-9c4a-4cc9-e1d1-ab41213a0fa9" style="opacity:0" class="main-paragraph bold">Oltre il 90% di smartphone in circolazione è provvisto di NFC,<br>Ma abbiamo preferito avere il 99,9% di compatibilità! QR su ogni Cardz..</p>
            <a data-w-id="7cf70d58-9c4a-4cc9-e1d1-ab41213a0fab" style="opacity:0" href="#" class="link-wrapper text-white w-inline-block">
              <div>Scopri di più</div><img src="{{ 'cta-arrow-white.svg' | asset_url }}" loading="lazy" alt="" class="icon-arrow">
            </a>
          </div>
        </div>
      </div>
      <div class="heading-wrapper-center padding-bottom-medium">
        <div class="wrapper-black">
          <h6 data-w-id="be3066b9-a84a-7d0c-56a8-d0bcac0d3073" class="heading-large2 text-white">Dashboard Avanzata</h6>
        </div>
      </div>
    </div>
    <div class="container inner-padding-small w-container">
      <div class="w-layout-grid main-grid">
        <div id="w-node-_7cfd3e8f-75ea-7c80-225c-d97a66999b4b-9925153a" class="wrapper-image-blog rounded"><img src="{{ 'untitled-design-high-quality-5-min.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw" srcset="{{ 'untitled-design-high-quality-5-min-p-500.jpeg' | asset_url }} 500w, {{ 'untitled-design-high-quality-5-min-p-800.jpeg' | asset_url }} 800w, {{ 'untitled-design-high-quality-5-min-p-1080.jpeg' | asset_url }} 1080w, {{ 'untitled-design-high-quality-5-min.jpg' | asset_url }} 1200w" alt="Web dashboard avanzata di cardz per biglietti da visita digitali migliori al mondo" class="full-image"></div>
        <div id="w-node-_7cfd3e8f-75ea-7c80-225c-d97a66999b4d-9925153a" class="stats-wrapper">
          <div class="w-layout-grid grid-list-stats margin-bottom-small">
            <div class="value">37+</div>
            <div id="w-node-_7cfd3e8f-75ea-7c80-225c-d97a66999b51-9925153a" class="inner-stats-info">
              <h3 class="heading-small-new text-white">Blocchi e Moduli</h3>
              <p class="p-small-size text-white-opacity">Avrai a disposizione 37 moduli da poter usare. Ognuno con una funzione diversa, Newsletter, Faq, Mappa, Documenti, Audio....</p>
            </div>
          </div>
          <div class="w-layout-grid grid-list-stats margin-bottom-small">
            <div class="value">2k+</div>
            <div id="w-node-_7cfd3e8f-75ea-7c80-225c-d97a66999b59-9925153a" class="inner-stats-info">
              <h3 class="heading-small-new text-white">Combinazioni di Design </h3>
              <p class="p-small-size text-white-opacity">Ci sono oltre 2.000 combinazioni grafiche possibili grazie a tutti gli elementi dinamici, cambia colore, sfondo, font, effetti, animazioni...</p>
            </div>
          </div>
          <div class="w-layout-grid grid-list-stats margin-bottom-small">
            <div class="value">97%</div>
            <div id="w-node-_7cfd3e8f-75ea-7c80-225c-d97a66999b61-9925153a" class="inner-stats-info">
              <h3 class="heading-small-new text-white">Soddisfazione </h3>
              <p class="p-small-size text-white-opacity">Chi sta già usando Cardz ne è pienamente soddisfatto e non tornerà mai piú ai vecchi biglietti da visita, addio mazzi di carte.</p>
            </div>
          </div>
          <div class="w-layout-grid grid-list-stats margin-bottom-small">
            <div class="value">100+</div>
            <div class="inner-stats-info">
              <h3 class="heading-small-new text-white">Modi per condividere</h3>
              <p class="p-small-size text-white-opacity">Oltre al codice QR e Chip NFC non sottovalutare tutti gli altri modi con cui potrai condividere la tua Cardz.</p>
            </div>
          </div>
          <div class="w-layout-grid grid-list-stats margin-bottom-small">
            <div class="value">3</div>
            <div id="w-node-_7cfd3e8f-75ea-7c80-225c-d97a66999b71-9925153a" class="inner-stats-info">
              <h3 class="heading-small-new text-white">Secondi per...</h3>
              <p class="p-small-size text-white-opacity">Salvare il tuo contatto in rubrica, i tuoi clienti non dovranno trascrivere numeri, indirizzi...bastano 2 click!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container w-container">
      <div class="heading-wrapper-center inner-padding-medium">
        <div class="wrapper-black">
          <h4 class="heading-large2 _20-ch">Chi usa i Biglietti Digitali...</h4>
        </div>
      </div>
      <div class="w-layout-grid main-grid">
        {%- render 'quote-04' -%}
        <div id="w-node-_92404cc8-6f72-0ea8-d5b2-a5f68b43c0ce-9925153a" class="gray-wrapper quote">
          <div class="w-layout-grid content-grid">
            <div class="paragraph-wrapper padding-bottom-small"><img src="{{ 'ic-quote.svg' | asset_url }}" loading="lazy" alt="" class="quote-icon">
              <h3>La perfezione!!</h3>
              <p class="main-paragraph">Prodotto ottimo e Dashboard totalmente rivoluzionaria! Ho provato un prodotto simile di un’altra azienda ma Cardz è tutta un’altra storia!</p>
              <div class="ratings inner-padding-xsmall margin-bottom-xsmall"><img src="{{ 'star-rating-yellow.svg' | asset_url }}" loading="lazy" alt="" class="ratings-stars"><img src="{{ 'star-rating-yellow.svg' | asset_url }}" loading="lazy" alt="" class="ratings-stars"><img src="{{ 'star-rating-yellow.svg' | asset_url }}" loading="lazy" alt="" class="ratings-stars"><img src="{{ 'star-rating-yellow.svg' | asset_url }}" loading="lazy" alt="" class="ratings-stars"><img src="{{ 'star-rating-yellow.svg' | asset_url }}" loading="lazy" alt="" class="ratings-stars"></div>
            </div>
            <div class="w-layout-grid profile">
              <div class="image-profile-wrapper small"><img src="{{ 'trustpilot-some-icon-1000px-circle.png' | asset_url }}" loading="lazy" sizes="45px" srcset="{{ 'trustpilot-some-icon-1000px-circle-p-500.png' | asset_url }} 500w, {{ 'trustpilot-some-icon-1000px-circle-p-800.png' | asset_url }} 800w, {{ 'trustpilot-some-icon-1000px-circle.png' | asset_url }} 1000w" alt="" class="image-profile"></div>
              <div id="w-node-_92404cc8-6f72-0ea8-d5b2-a5f68b43c0df-9925153a" class="flex-name">
                <div class="text-small">Gino Lanfredi</div>
                <div class="text-small text-white-opacity">Recensione verificata da TrustPilot</div>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-_47479df7-84fb-d849-f005-57f2868e6e05-9925153a" class="gray-wrapper quote">
          <div class="w-layout-grid content-grid">
            <div class="paragraph-wrapper padding-bottom-small"><img src="{{ 'ic-quote.svg' | asset_url }}" loading="lazy" alt="" class="quote-icon">
              <h3>L'idea è TOP!</h3>
              <p class="main-paragraph">Creare la paginetta web è molto facile anche per un non esperto informatico!<br>Da non sottovalutare la confezione, che si presta anche per fare bella figura per un regalo davvero particolare.</p>
              <div class="ratings inner-padding-xsmall margin-bottom-xsmall"><img src="{{ 'star-rating-yellow.svg' | asset_url }}" loading="lazy" alt="" class="ratings-stars"><img src="{{ 'star-rating-yellow.svg' | asset_url }}" loading="lazy" alt="" class="ratings-stars"><img src="{{ 'star-rating-yellow.svg' | asset_url }}" loading="lazy" alt="" class="ratings-stars"><img src="{{ 'star-rating-yellow.svg' | asset_url }}" loading="lazy" alt="" class="ratings-stars"><img src="{{ 'star-rating-yellow.svg' | asset_url }}" loading="lazy" alt="" class="ratings-stars"></div>
            </div>
            <div class="w-layout-grid profile">
              <div class="image-profile-wrapper small"><img src="{{ 'trustpilot-some-icon-1000px-circle.png' | asset_url }}" loading="lazy" sizes="45px" srcset="{{ 'trustpilot-some-icon-1000px-circle-p-500.png' | asset_url }} 500w, {{ 'trustpilot-some-icon-1000px-circle-p-800.png' | asset_url }} 800w, {{ 'trustpilot-some-icon-1000px-circle.png' | asset_url }} 1000w" alt="" class="image-profile"></div>
              <div id="w-node-_47479df7-84fb-d849-f005-57f2868e6e16-9925153a" class="flex-name">
                <div class="text-small">Dott. Guglielmo Piazza</div>
                <div class="text-small text-white-opacity">Recensione verificata da TrustPilot</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-5 w-container">
      <div class="heading-wrapper-center inner-padding-medium">
        <div class="wrapper-black">
          <h4 class="heading-large2 _20-ch">Ci sono cose che puoi fare solo con CARDZ:</h4>
        </div>
      </div>
    </div>
    <div id="2COSEDICARDZ" class="container w-container">
      <div class="w-layout-grid main-grid">
        <div id="w-node-_08d33862-878c-8277-22a8-f994ce27c920-9925153a" class="gray-wrapper float-bottom">
          <div class="w-layout-grid content-grid gap-short">
            <div class="paragraph-wrapper margin-bottom-small">
              <h3 class="heading-regular">Progressive APP</h3>
              <p class="main-paragraph">I tuoi clienti difficilmente si libereranno di te! Il tuo biglietto da visita adesso diventa un'APP che si installa in 2 click e rimane per sempre sullo smartphone di chi incontri!<br> Sarai tu a scrivere il nome della tua APP, scegliere i colori, modificare l'icona...nel modo più semplice che esiste!</p>
            </div>
            <a id="w-node-bd9d638b-845a-6094-30ff-fe1fb49e7334-9925153a" href="https://cardz.it/biglietto-digitale-nfc-app" class="button w-button">Scopri di più</a>
            <div id="w-node-_70b92a9f-b7c6-8770-e5d3-a6c4007ae156-9925153a" class="images-features-wrapper"><img src="{{ 'untitled-design-5.png' | asset_url }}" loading="lazy" alt="Biglietto da visita digitale che diventa la tua app sullo smartphone dei tuoi clienti, solo con biglietti nfc qr di Cardz.it" class="image-features"></div>
          </div>
        </div>
        <div id="w-node-_0609013d-5310-d81d-dad0-4e6150d692d9-9925153a" class="gray-wrapper float-bottom">
          <div class="w-layout-grid content-grid gap-short">
            <div class="paragraph-wrapper margin-bottom-small">
              <h3 class="heading-regular">Booking e Gestione Appuntamenti</h3>
              <p class="main-paragraph">Immagina di avere un sistema per ricevere, gestire, annullare appuntamenti...tutto nel tuo biglietto da visita.<br>Sarai tu a gestire i giorni e gli orari in cui sei disponibile, dalla tua dashboard avrai una visione totale del tuo calendario, e riceverai notifiche all'istante. Assurdo vero?</p>
            </div>
            <a id="w-node-_894f63f4-30fb-6508-a8df-37c62f01646e-9925153a" href="#" class="button w-button">Scopri di più</a>
            <div id="w-node-_0609013d-5310-d81d-dad0-4e6150d692e0-9925153a" class="images-features-wrapper"><img src="{{ 'cardz-appuntamenti-biglietto-nfc.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 77vw, (max-width: 767px) 71vw, (max-width: 991px) 73vw, 76vw" srcset="{{ 'cardz-appuntamenti-biglietto-nfc-p-500.png' | asset_url }} 500w, {{ 'cardz-appuntamenti-biglietto-nfc.png' | asset_url }} 800w" alt="" class="image-features"></div>
          </div>
        </div>
      </div>
    </div>
    {%- render 'faq-02' -%}
    <div id="123" class="container inner-padding-medium w-container">
      <div class="heading-wrapper-center-home2-copy padding-bottom-medium">
        <h4 data-w-id="bdb61c37-e95e-8570-e396-46baee5ff85a" style="opacity:0" class="heading-large2-copy">Scegli la tua Cardz</h4>
      </div>
      {%- render 'pricing-03' -%}
      <div class="w-layout-grid main-grid no-gap">
        <div id="w-node-a428e3ba-fe62-63fc-9a8f-77435be11359-9925153a" class="grid-wrapper inner-padding-small">
          <h5 class="text">il Piano Cardz è INCLUSO!!</h5>
          <p class="main-paragraph margin-bottom-small">Basta acquistare una Cardz...<br>Senza pagare altro, per sempre!</p>
          <div class="list-wrapper">
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>1 Landing Page per ogni Cardz</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>37+ Moduli /&nbsp;Blocchi e tutti i prossimi che saranno aggiunti</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>Vcard Illimitate</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>Accesso ad API e Affiliation</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>Statistiche e Analisi</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>Accesso all'app MyCardz</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>Personalizzazione Illimitata in tempo reale di qualsiasi elemento</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>Creazione e Condivisione QR Code</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>Barra Menú per Condivisione Multipla Contactless Diretta</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>Accesso ad Upload e Cloud File</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>Accesso al Modulo Email Collector</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>Accesso ad Html e Javascript </div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>Molto, molto altro ancora.....</div>
            </div>
          </div>
        </div>
        <div id="w-node-a428e3ba-fe62-63fc-9a8f-77435be11382-9925153a" class="overflow-wrapper rounded">
          <div class="content">
            <div class="phone-holder-container">
              <div class="phone-slider-container">
                <div data-delay="2000" data-animation="fade" class="phone-slider w-slider" data-autoplay="true" data-easing="ease-out" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
                  <div class="phone-slider-mask w-slider-mask">
                    <div class="phone-slide w-slide"><img src="{{ 'img_8129-min.PNG' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 158px, 239px" srcset="{{ 'img_8129-min-p-500.png' | asset_url }} 500w, {{ 'img_8129-min-p-800.png' | asset_url }} 800w, {{ 'img_8129-min.PNG' | asset_url }} 1284w" alt="" class="phone-slide-image"></div>
                    <div class="phone-slide w-slide"><img src="{{ 'img_8131-min.PNG' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 158px, 239px" srcset="{{ 'img_8131-min-p-500.png' | asset_url }} 500w, {{ 'img_8131-min-p-800.png' | asset_url }} 800w, {{ 'img_8131-min.PNG' | asset_url }} 1284w" alt="Moduli che puoi aggiungere da solo per creare il tuo biglietto da visita digitale che è un vero sito web integrato nel tuo biglietto nfc e qr di Cardz" class="phone-slide-image"></div>
                    <div class="phone-slide w-slide"><img src="{{ 'img_8132-min.PNG' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 158px, 239px" srcset="{{ 'img_8132-min-p-500.png' | asset_url }} 500w, {{ 'img_8132-min-p-800.png' | asset_url }} 800w, {{ 'img_8132-min.PNG' | asset_url }} 1284w" alt="" class="phone-slide-image"></div>
                    <div class="phone-slide w-slide"><img src="{{ 'img_8133-min.PNG' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 158px, 239px" srcset="{{ 'img_8133-min-p-500.png' | asset_url }} 500w, {{ 'img_8133-min-p-800.png' | asset_url }} 800w, {{ 'img_8133-min.PNG' | asset_url }} 1284w" alt="" class="phone-slide-image"></div>
                    <div class="phone-slide w-slide"><img src="{{ 'img_8128-min.PNG' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 158px, 239px" srcset="{{ 'img_8128-min-p-500.png' | asset_url }} 500w, {{ 'img_8128-min-p-800.png' | asset_url }} 800w, {{ 'img_8128-min.PNG' | asset_url }} 1284w" alt="" class="phone-slide-image"></div>
                    <div class="phone-slide w-slide"><img src="{{ 'img_8127-min.PNG' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 158px, 239px" srcset="{{ 'img_8127-min-p-500.png' | asset_url }} 500w, {{ 'img_8127-min.PNG' | asset_url }} 1284w" alt="" class="phone-slide-image"></div>
                  </div>
                  <div class="phone-slider-arrows w-slider-arrow-left">
                    <div class="w-icon-slider-left"></div>
                  </div>
                  <div class="phone-slider-arrows w-slider-arrow-right">
                    <div class="w-icon-slider-right"></div>
                  </div>
                  <div class="phone-slide-nav w-slider-nav w-round"></div>
                </div>
              </div><img src="{{ 'untitled-design-2022-01-03t122826.883.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 350px, 530px" srcset="{{ 'untitled-design-2022-01-03t122826.883-p-500.png' | asset_url }} 500w, {{ 'untitled-design-2022-01-03t122826.883.png' | asset_url }} 800w" alt="" class="phone-holder-image">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container inner-padding-small w-container">
      <div class="wrapper-full-image media rounded">
        <a href="#" class="media-videos absolute w-inline-block w-lightbox">
          <div class="button-play"><img src="{{ 'icon-play.svg' | asset_url }}" loading="lazy" alt="" class="icon-play"></div>
          <script type="application/json" class="w-json">{"items":[{"url":"https://www.youtube.com/watch?v=Fw2Dhs9jXYY&t=2s","originalUrl":"https://www.youtube.com/watch?v=Fw2Dhs9jXYY&t=2s","width":940,"height":528,"thumbnailUrl":"https://i.ytimg.com/vi/Fw2Dhs9jXYY/hqdefault.jpg","html":"<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FFw2Dhs9jXYY%3Fstart%3D2%26feature%3Doembed%26start%3D2&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DFw2Dhs9jXYY&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FFw2Dhs9jXYY%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen\" allowfullscreen=\"true\"></iframe>","type":"video"}],"group":"Videos"}</script>
        </a><img src="{{ 'untitled-design-high-quality-2021-12-23t002802.730.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw" srcset="{{ 'untitled-design-high-quality-2021-12-23t002802.730-p-800.jpeg' | asset_url }} 800w, {{ 'untitled-design-high-quality-2021-12-23t002802.730-p-1080.jpeg' | asset_url }} 1080w, {{ 'untitled-design-high-quality-2021-12-23t002802.730-p-1600.jpeg' | asset_url }} 1600w, {{ 'untitled-design-high-quality-2021-12-23t002802.730-p-2000.jpeg' | asset_url }} 2000w, {{ 'untitled-design-high-quality-2021-12-23t002802.730-p-2600.jpeg' | asset_url }} 2600w, {{ 'untitled-design-high-quality-2021-12-23t002802.730.jpg' | asset_url }} 2700w" alt="Mr.lele ha provato i biglietti da visita digitali di Cardz, conferma sono i più avanzati in commercio." class="full-image">
      </div>
      {%- render 'call-to-action-gray' -%}
    </div>
  </div>
  {%- render 'footer' -%}
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=627929cccf40a94a9f251539" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <style>
  .w-webflow-badge {
        position: fixed !important;
    display: None !important;
    visibility: hidden !important;
}
<style>
</body></html></style>{{ 'udesly-shopify.min.js' | asset_url | script_tag }}