{%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "627929cccf40a90acb2515a5" -%}{%- assign bodyClasses = "" -%}
  {%- render 'loader' -%}
  {%- section 'global-nav' -%}
  <section class="section titles wf-section">
    <div class="container titles w-container">
      <h1 class="heading-xlarge _16-ch">La Dashboard più avanzata del Web.</h1>
      <div class="wrap-summary">
        <p class="main-paragraph-copy">Avrai il piacere di aggiornare la tua Cardz in tempo reale ogni volta che vuoi,<br>e con il sistema più evoluto che puoi trovare online!<br><br>QUESTO&nbsp;E' IL&nbsp;TUO&nbsp;NUOVO&nbsp;CENTRO&nbsp;DI&nbsp;CONTROLLO<br>‍</p>
      </div>
      <section class="section-mockup2 grain-background">
        <div class="page-padding">
          <div class="container-large">
            <div class="padding-vertical padding-xhuge">
              <div class="margin-bottom margin-small">
                <div class="max-width-large align-center"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  <div class="wrapper-full-image device"></div>
  <div class="section titles wf-section">
    <section class="section-mockup1 grain-background">
      <div class="page-padding-2">
        <div class="container-large">
          <div class="padding-vertical padding-xhuge">
            <div class="margin-bottom margin-small">
              <div class="max-width-large align-center"></div>
            </div>
            <div class="mockup1_component">
              <div class="mockup1_animation-content">
                <div class="mockup_callout"><img src="https://uploads-ssl.webflow.com/6244f7aa8eac3873c6858c58/6244f7ab8eac382c0b858c89_callout-arrowtext.svg" loading="lazy" alt="" class="hide-tablet"><img src="https://uploads-ssl.webflow.com/6244f7aa8eac3873c6858c58/6244f7ab8eac3846fd858c8a_callout-arrowtext-tablet.svg" loading="lazy" alt="" class="show-tablet"></div>
                <div class="mockup1_lottie-animation-wrapper">
                  <div data-is-ix2-target="1" class="mockup1_lottie-animation" data-w-id="6b17311c-14ae-08f7-8167-a6840940400b" data-animation-type="lottie" data-src="https://uploads-ssl.webflow.com/6244f7aa8eac3873c6858c58/6244f7ab8eac385192858c8b_mockup1-lottie.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2.2333333333333334" data-duration="0"></div>
                  <div style="opacity:0" class="mockup1_video-wrapper">
                    <div data-poster-url="https://uploads-ssl.webflow.com/61944fc2f94c5d09f79dbfb0/6195a995d022416a5539c123_rl-screen-recording-2-poster-00001.jpg" data-video-urls="../videos/rl-screen-recording-2-poster-00001.jpg,../videos/rl-screen-recording-2-transcode.mp4,../videos/rl-screen-recording-2-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="mockup1_video w-background-video w-background-video-atom"><video id="6b17311c-14ae-08f7-8167-a6840940400d-video" autoplay="" loop="" style="background-image:url(&quot;https://uploads-ssl.webflow.com/61944fc2f94c5d09f79dbfb0/6195a995d022416a5539c123_rl-screen-recording-2-poster-00001.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                        <source src="{{ 'rl-screen-recording-2-poster-00001.jpg' | asset_url }}" data-wf-ignore="true">
                        <source src="{{ 'rl-screen-recording-2-transcode.mp4' | asset_url }}" data-wf-ignore="true">
                        <source src="{{ 'rl-screen-recording-2-transcode.webm' | asset_url }}" data-wf-ignore="true">
                      </video></div>
                  </div>
                </div>
              </div>
              <div class="mockup1_background-text-wrapper">
                <div class="mockup1_background-text1">
                  <div class="mockup1_text">Crea</div>
                  <div class="mockup1_blur1"></div>
                </div>
                <div class="mockup1_background-text2">
                  <div class="mockup1_text">Invia</div>
                  <div class="mockup1_blur2"></div>
                </div>
                <div class="mockup1_background-text3">
                  <div class="mockup1_text">Live</div>
                  <div class="mockup1_blur3"></div>
                </div>
              </div>
              <div class="mockup1-ix-triggers">
                <div data-w-id="6b17311c-14ae-08f7-8167-a6840940401c" class="mockup1-ix-trigger1"></div>
                <div data-w-id="6b17311c-14ae-08f7-8167-a6840940401d" class="mockup1-ix-trigger2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container w-container">
      <div class="w-layout-grid main-grid no-gap inner-padding-small">
        <div id="w-node-f6ca6402-6640-cc5f-cc9a-bff36d48a73d-cb2515a5" class="grid-wrapper inner-padding-small">
          <h3 class="text">Gestisci qualsiasi elemento in pochi secondi... <br>Con un <br>anteprima Live!</h3>
          <p class="main-paragraph margin-bottom-small">Crea Sub Utenti, affidagli una Cardz...<br>Gestisci i tuoi orari di lavoro e gestisci gli appuntamenti...<br>Crea e personalizza la tua Landing Page e la tua APP!!</p>
          <div class="list-wrapper">
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>1,000 Members</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>10 spaces</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>Custom domain</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>Zapier integration</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>SSO with Memberstack</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>SSO with Memberstack</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>SSO with Memberstack</div>
            </div>
          </div>
        </div>
        <div id="w-node-f6ca6402-6640-cc5f-cc9a-bff36d48a766-cb2515a5" class="overflow-wrapper rounded"><img src="{{ 'isaac-quesada-w8-sp1dlew-unsplash_1.jpg' | asset_url }}" loading="lazy" alt="" class="full-image"></div>
      </div>
    </div>
    <div class="container inner-padding-medium w-container">
      <div class="w-layout-grid main-grid">
        <div id="w-node-_4f4708fa-29f2-39d3-4df9-642d9bfaaf8f-cb2515a5" class="grid-wrapper">
          <h3 class="stats">34m</h3>
          <div class="wrapper-blurb">
            <p class="p-small-size">Maecenas sed diam eget risus varius blandit sit amet non magna ivamus sagittis lacus vel augue</p>
          </div>
        </div>
        <div id="w-node-_4f4708fa-29f2-39d3-4df9-642d9bfaaf95-cb2515a5" class="grid-wrapper">
          <h3 class="stats">+43</h3>
          <div class="wrapper-blurb">
            <p class="p-small-size">Laoreet rutrum faucibus dolor auctor enean eu leo quam ula porta felis euismod semper</p>
          </div>
        </div>
        <div id="w-node-_4f4708fa-29f2-39d3-4df9-642d9bfaaf9b-cb2515a5" class="grid-wrapper">
          <h3 class="stats">23%</h3>
          <div class="wrapper-blurb">
            <p class="p-small-size">Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mu aecenas faucibus mollis interdum</p>
          </div>
        </div>
        <div id="w-node-_4f4708fa-29f2-39d3-4df9-642d9bfaafa1-cb2515a5" class="grid-wrapper">
          <h3 class="stats">0b</h3>
          <div class="wrapper-blurb">
            <p class="p-small-size">Etiam porta sem malesuada magna mollis euismod um sociis natoque penatibus et magnis dis parturient monte nascetur</p>
          </div>
        </div>
        <div class="card">
          <div class="card__glow"></div>
          <div class="card__bg"></div>
          <div class="card__front">
            <div class="card__circle">
              <div class="card__label-gradient"></div>
              <div class="card__holo-glow card__holo-glow--s">
                <div class="card__front-glow-mask"></div>
              </div>
            </div>
            <div class="card__line card__line--top">
              <div class="card__label-gradient"></div>
              <div class="card__holo-glow card__holo-glow--s">
                <div class="card__front-glow-mask"></div>
              </div>
            </div>
            <div class="card__line">
              <div class="card__label-gradient"></div>
              <div class="card__holo-glow card__holo-glow--s">
                <div class="card__front-glow-mask"></div>
              </div>
            </div>
            <div class="card__holo-glow">
              <div class="card__front-glow-mask"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container w-container">
      <div class="w-layout-grid main-grid no-gap">
        <div id="w-node-_0f073991-dd2d-2715-b516-06b3af63b52a-cb2515a5" class="grid-wrapper inner-padding-small">
          <h3 class="text">Build anything with Musk</h3>
          <p class="main-paragraph margin-bottom-small">Maecenas sed diam eget risus varius blandit sit amet non magna ivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor enean eu leo quam ula porta felis euismod semper.</p>
          <div class="list-wrapper">
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>1,000 Members</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>10 spaces</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>Custom domain</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>Zapier integration</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>SSO with Memberstack</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>SSO with Memberstack</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>SSO with Memberstack</div>
            </div>
          </div>
        </div>
        <div id="w-node-_0f073991-dd2d-2715-b516-06b3af63b531-cb2515a5" class="overflow-wrapper rounded"><img src="{{ 'portrait-bearded-young.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw" srcset="{{ 'portrait-bearded-young-p-500.jpeg' | asset_url }} 500w, {{ 'portrait-bearded-young-p-800.jpeg' | asset_url }} 800w, {{ 'portrait-bearded-young.jpg' | asset_url }} 900w" alt="" class="full-image"></div>
      </div>
    </div>
    <div class="container w-container">
      <div class="heading-wrapper-center inner-padding-medium">
        <div class="wrapper-black">
          <h2 class="text">Where creativity meets productivity</h2>
        </div>
      </div>
      <div class="w-layout-grid main-grid margin-bottom-small">
        <div id="w-node-c45bdfe7-dc99-300d-bba0-79f7fc667434-cb2515a5" class="gray-wrapper">
          <div class="w-layout-grid content-grid gap-short">
            <div class="icon-wrapper">
              <h3 class="stats">34m</h3>
            </div>
            <div class="small-paragraph-wrapper">
              <h4 class="heading-small-new text-cyan">Customers First</h4>
              <p class="p-small-size text-white-opacity">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
          </div>
        </div>
        <div id="w-node-d43fd0c0-28c8-dc3a-33f0-5ea265b50cb6-cb2515a5" class="gray-wrapper">
          <div class="w-layout-grid content-grid gap-short">
            <div class="icon-wrapper">
              <h3 class="stats">34m</h3>
            </div>
            <div class="small-paragraph-wrapper">
              <h4 class="heading-small-new text-cyan">Customers First</h4>
              <p class="p-small-size text-white-opacity">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
          </div>
        </div>
        <div id="w-node-_74248d99-5dee-c51c-94a9-0d37dfc6df4b-cb2515a5" class="gray-wrapper">
          <div class="w-layout-grid content-grid gap-short">
            <div class="icon-wrapper">
              <h3 class="stats">34m</h3>
            </div>
            <div class="small-paragraph-wrapper">
              <h4 class="heading-small-new text-cyan">Customers First</h4>
              <p class="p-small-size text-white-opacity">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-layout-grid main-grid short-gap margin-bottom-xsmall">
        <div id="w-node-_45d5efac-390c-06c9-3ad2-99fa711dc7f0-cb2515a5" class="gray-wrapper">
          <div class="w-layout-grid content-grid gap-short">
            <div class="icon-wrapper">
              <h3 class="stats small-size">34m</h3>
            </div>
            <div class="small-paragraph-wrapper">
              <p class="p-small-size text-white-opacity">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
          </div>
        </div>
        <div id="w-node-ecc6d9ba-68f0-7804-5d0a-12c8353bce11-cb2515a5" class="gray-wrapper">
          <div class="w-layout-grid content-grid gap-short">
            <div class="icon-wrapper">
              <h3 class="stats small-size">+43</h3>
            </div>
            <div class="small-paragraph-wrapper">
              <p class="p-small-size text-white-opacity">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
          </div>
        </div>
        <div id="w-node-_4a55705a-3873-e82e-6ac2-466af3919c0b-cb2515a5" class="gray-wrapper">
          <div class="w-layout-grid content-grid gap-short">
            <div class="icon-wrapper">
              <h3 class="stats small-size">23%</h3>
            </div>
            <div class="small-paragraph-wrapper">
              <p class="p-small-size text-white-opacity">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
          </div>
        </div>
        <div id="w-node-_44389610-db2f-abe2-bdbc-badd16e84f0a-cb2515a5" class="gray-wrapper">
          <div class="w-layout-grid content-grid gap-short">
            <div class="icon-wrapper">
              <h3 class="stats small-size">0b</h3>
            </div>
            <div id="w-node-_44389610-db2f-abe2-bdbc-badd16e84f0e-cb2515a5" class="small-paragraph-wrapper">
              <p class="p-small-size text-white-opacity">Duis mollis, est non commodo luctus,</p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-layout-grid main-grid margin-bottom-small">
        <div id="w-node-aba35bcd-74f1-a3b5-7139-ebb6ed15e2cb-cb2515a5" class="gray-wrapper">
          <div class="w-layout-grid content-grid">
            <div class="icon-wrapper"><img src="{{ 'ic-003-color.svg' | asset_url }}" loading="lazy" alt="" class="icon-content"></div>
            <div class="small-paragraph-wrapper">
              <h3 class="heading-regular">Independently, as one</h3>
              <p class="main-paragraph">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
          </div>
        </div>
        <div id="w-node-d6df74dd-983b-b134-18ba-d07914548ce4-cb2515a5" class="gray-wrapper">
          <div class="w-layout-grid content-grid">
            <div class="icon-wrapper"><img src="{{ 'ic-013.svg' | asset_url }}" loading="lazy" alt="" class="icon-content"></div>
            <div class="small-paragraph-wrapper">
              <h3 class="heading-regular">Unlimited reviews</h3>
              <p class="main-paragraph">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
          </div>
        </div>
        <div id="w-node-_1e260df6-ab29-3ba9-c4f0-60191c6128b2-cb2515a5" class="gray-wrapper">
          <div class="w-layout-grid content-grid">
            <div class="icon-wrapper"><img src="{{ 'ic-012.svg' | asset_url }}" loading="lazy" alt="" class="icon-content"></div>
            <div class="small-paragraph-wrapper">
              <h3 class="heading-regular">Scale as you grow</h3>
              <p class="main-paragraph">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container w-container">
      <div class="heading-wrapper-center inner-padding-medium">
        <div class="wrapper-black">
          <h2 class="heading-large2 _20-ch">New design possibilities</h2>
        </div>
      </div>
    </div>
    <div class="container w-container"></div>
    <div class="container w-container">
      <div class="w-layout-grid main-grid margin-bottom-medium">
        <div id="w-node-_4cda6310-c166-02a4-4e79-f17426f063b0-cb2515a5" class="inner-content-column vertical-center rounded">
          <div class="wrapper-features margin-bottom-small">
            <h3 class="heading-regular">Create anything with Musk</h3>
            <p class="main-paragraph margin-bottom-xsmall">We work with businesses all over the world to bring new and established brands into the digital age with a digital-first approach.</p>
            <a href="#" class="link-wrapper w-inline-block">
              <div>Learn more</div><img src="{{ 'cta-arrow-white.svg' | asset_url }}" loading="lazy" alt="" class="icon-arrow">
            </a>
          </div>
        </div>
        <div id="w-node-_4cda6310-c166-02a4-4e79-f17426f063bc-cb2515a5" class="overflow-wrapper rounded"><img src="{{ 'img-tab-001.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw" srcset="{{ 'img-tab-001-p-500.png' | asset_url }} 500w, {{ 'img-tab-001-p-800.png' | asset_url }} 800w, {{ 'img-tab-001-p-1080.png' | asset_url }} 1080w, {{ 'img-tab-001-p-1600.png' | asset_url }} 1600w, {{ 'img-tab-001.png' | asset_url }} 2700w" alt="" class="full-image"></div>
      </div>
    </div>
    <div class="container w-container">
      <div class="w-layout-grid main-grid inner-padding-small">
        <div id="w-node-b9fc606c-f24e-5625-1d5b-a8b1669bdb32-cb2515a5" class="w-layout-grid grid-column short-gap">
          <div id="w-node-f7063057-490f-13f0-26a7-a736de5a23c7-cb2515a5" class="overflow-wrapper rounded"><img src="{{ 'favour-otunji-0mxxw7uwzh8-unsplash.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw" srcset="{{ 'favour-otunji-0mxxw7uwzh8-unsplash-p-500.jpeg' | asset_url }} 500w, {{ 'favour-otunji-0mxxw7uwzh8-unsplash-p-800.jpeg' | asset_url }} 800w, {{ 'favour-otunji-0mxxw7uwzh8-unsplash-p-1080.jpeg' | asset_url }} 1080w, {{ 'favour-otunji-0mxxw7uwzh8-unsplash.jpg' | asset_url }} 1200w" alt="" class="full-image high-column"></div>
          <div id="w-node-f7063057-490f-13f0-26a7-a736de5a23c9-cb2515a5" class="paragraph-wrapper">
            <h3>Combine blocks in seconds</h3>
            <p class="main-paragraph margin-bottom-xsmall">Aenean lacinia bibendum nulla sed conse malesuada magna mollis euismod.</p>
            <a href="#" class="link-wrapper w-inline-block">
              <div>Learn more</div><img src="{{ 'cta-arrow-white.svg' | asset_url }}" loading="lazy" alt="" class="icon-arrow">
            </a>
          </div>
        </div>
        <div id="w-node-_86ef4dd7-c688-5d03-9c0a-6e24f8398612-cb2515a5" class="w-layout-grid grid-column short-gap">
          <div id="w-node-_86ef4dd7-c688-5d03-9c0a-6e24f8398613-cb2515a5" class="overflow-wrapper rounded"><img src="{{ 'mohammed-hassan-fdcvrdyujsy-unsplash.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw" srcset="{{ 'mohammed-hassan-fdcvrdyujsy-unsplash-p-500.jpeg' | asset_url }} 500w, {{ 'mohammed-hassan-fdcvrdyujsy-unsplash-p-800.jpeg' | asset_url }} 800w, {{ 'mohammed-hassan-fdcvrdyujsy-unsplash-p-1080.jpeg' | asset_url }} 1080w, {{ 'mohammed-hassan-fdcvrdyujsy-unsplash.jpg' | asset_url }} 1200w" alt="" class="full-image high-column"></div>
          <div id="w-node-_86ef4dd7-c688-5d03-9c0a-6e24f8398615-cb2515a5" class="paragraph-wrapper">
            <h3>Fully customizable</h3>
            <p class="main-paragraph margin-bottom-xsmall">Aenean lacinia bibendum nulla sed consec sem malesuada magna mollis euismod.</p>
            <a href="#" class="link-wrapper w-inline-block">
              <div>Learn more</div><img src="{{ 'cta-arrow-white.svg' | asset_url }}" loading="lazy" alt="" class="icon-arrow">
            </a>
          </div>
        </div>
        <div id="w-node-f8b3f17a-cdb6-8512-a10c-2c24ed41c550-cb2515a5" class="w-layout-grid grid-column short-gap">
          <div id="w-node-f8b3f17a-cdb6-8512-a10c-2c24ed41c551-cb2515a5" class="overflow-wrapper rounded"><img src="{{ 'anunay-rai-1bcfkfeavva-unsplash.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw" srcset="{{ 'anunay-rai-1bcfkfeavva-unsplash-p-500.jpeg' | asset_url }} 500w, {{ 'anunay-rai-1bcfkfeavva-unsplash-p-800.jpeg' | asset_url }} 800w, {{ 'anunay-rai-1bcfkfeavva-unsplash-p-1080.jpeg' | asset_url }} 1080w, {{ 'anunay-rai-1bcfkfeavva-unsplash.jpg' | asset_url }} 1200w" alt="" class="full-image high-column"></div>
          <div id="w-node-f8b3f17a-cdb6-8512-a10c-2c24ed41c553-cb2515a5" class="paragraph-wrapper">
            <h3>New design possibilities</h3>
            <p class="main-paragraph margin-bottom-xsmall">Aenean lacinia bibendum nulla sed consectet uismod.</p>
            <a href="#" class="link-wrapper w-inline-block">
              <div>Learn more</div><img src="{{ 'cta-arrow-white.svg' | asset_url }}" loading="lazy" alt="" class="icon-arrow">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section wf-section">
    <div data-w-id="1e848d29-c43b-be9b-e431-579a8d9db617" class="big-heading-wrapper">
      <div class="xlarge-scroll-heading">You can design anything</div>
    </div>
    <div class="w-layout-grid inner-full-width-grid margin-bottom-medium">
      <div id="w-node-_1e848d29-c43b-be9b-e431-579a8d9db61b-cb2515a5" class="half-container margin-bottom-medium">
        <div class="content-wrap inner-padding-medium">
          <div class="paragraph-wrapper">
            <h2 class="text margin-bottom-xsmall">Where creativity meets productivity</h2>
            <p class="main-paragraph margin-bottom-xsmall">Aenean lacinia bibendum nulla sed conse malesuada magna mollis euismod.</p>
            <a href="#" class="link-wrapper w-inline-block">
              <div>Learn more</div><img src="{{ 'cta-arrow-white.svg' | asset_url }}" loading="lazy" alt="" class="icon-arrow">
            </a>
          </div>
        </div>
      </div>
      <div id="w-node-_1e848d29-c43b-be9b-e431-579a8d9db621-cb2515a5" class="inner-half reverse">
        <div class="inner-half-section reverse"><img src="{{ 'pretty-curly-woman-holds-modern-2.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 94vw, (max-width: 991px) 96vw, 982px" srcset="{{ 'pretty-curly-woman-holds-modern-2-p-500.jpeg' | asset_url }} 500w, {{ 'pretty-curly-woman-holds-modern-2-p-800.jpeg' | asset_url }} 800w, {{ 'pretty-curly-woman-holds-modern-2.jpg' | asset_url }} 900w" alt="" class="full-image"></div>
      </div>
    </div>
  </div>
  <div class="wf-section">
    <div class="container inner-padding-small w-container">
      <div class="w-layout-grid main-grid">
        <div id="w-node-b7e12d44-f39d-b0c3-0a58-9348219bb140-cb2515a5" class="overflow-wrapper rounded"><img src="{{ 'ui-007.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw" srcset="{{ 'ui-007-p-500.png' | asset_url }} 500w, {{ 'ui-007-p-800.png' | asset_url }} 800w, {{ 'ui-007-p-1080.png' | asset_url }} 1080w, {{ 'ui-007.png' | asset_url }} 2700w" alt="" class="full-image"></div>
        <div id="w-node-b7e12d44-f39d-b0c3-0a58-9348219bb142-cb2515a5" class="contain-form rounded">
          <div class="form-container">
            <div class="form-wrapper left">
              <div class="full-form w-form">
                {%- form "contact",  class: "inner-form" -%}
                  <div class="inner-input">
                    <div class="label-form">Full name</div><input type="text" class="text-field dark w-input" maxlength="256" name="contact[name]" data-name="Name" placeholder="e.g. John Smith" id="Name" required="">
                  </div>
                  <div class="inner-input">
                    <div class="label-form">Email Address</div><input type="email" class="text-field dark w-input" maxlength="256" name="contact[email]" data-name="Email 3" placeholder="e.g. john@email.com" id="email-3" required="">
                  </div>
                  <div class="inner-input margin-bottom-xsmall">
                    <div class="label-form">Message</div><textarea placeholder="Message..." maxlength="5000" id="field" name="contact[field]" data-name="Field" class="textarea-message w-input"></textarea>
                  </div>
                  <div class="inner-input margin-bottom-xsmall"><input type="submit" value="Submit" data-wait="Please wait..." class="button color-red w-button"></div>
                {%- assign form_success = form.posted_successfully? -%}{%- assign form_errors = form.errors -%}{%- render "form-general-script", form_success: form_success, form_errors: form_errors -%}{%- endform -%}
                <div class="w-form-done  {% if form_success %}form-posted-successfully{% endif %}">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                {%- unless form_success -%}<div class="w-form-fail  {% if form.errors %}form-has-errors{% endif %}">
                  <div>{%- render "form-errors", form_errors: form_errors -%}</div>
                </div>{%- endunless -%}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%- render 'footer' -%}
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=627929cccf40a94a9f251539" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <style>
  .w-webflow-badge {
        position: fixed !important;
    display: None !important;
    visibility: hidden !important;
}
<style>
</body></html></style>{{ 'udesly-shopify.min.js' | asset_url | script_tag }}