{%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "627929cccf40a9c40b251550" -%}{%- assign bodyClasses = "" -%}
  {%- render 'loader' -%}
  {%- section 'global-nav' -%}
  <div class="section titles wf-section">
    <div class="container w-container">
      <div class="wrapper-heading inner-padding-medium">
        <h1 class="heading-xlarge _20-ch">Il Biglietto da visita che prende appuntamenti esiste davvero.</h1>
      </div>
    </div>
  </div>
  <div data-w-id="7dd29dee-90d4-3e37-755b-d8054be8ebef" class="section overflow wf-section">
    <div class="overflow-wrapper">
      <div class="gallery-grid-wrapper">
        {%- render 'grid-gallery' -%}
        {%- render 'grid-gallery' -%}
      </div>
    </div>
  </div>
  <div class="wf-section">
    <div class="container w-container">
      <div class="w-layout-grid main-grid inner-padding-medium">
        <div id="w-node-_479582f7-d33e-0de1-cd69-29afcc180547-0b251550" class="gray-wrapper">
          <div class="w-layout-grid content-grid">
            <div class="icon-wrapper"><img src="{{ 'ic-007-color.svg' | asset_url }}" loading="lazy" alt="" class="inner-icon"></div>
            <div class="small-paragraph-wrapper">
              <h3 class="heading-small-new">Reduce Costs</h3>
              <p class="p-small-size text-white-opacity">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
          </div>
        </div>
        <div id="w-node-_479582f7-d33e-0de1-cd69-29afcc180550-0b251550" class="gray-wrapper">
          <div class="w-layout-grid content-grid">
            <div class="icon-wrapper"><img src="{{ 'ic-002-color.svg' | asset_url }}" loading="lazy" alt="" class="inner-icon"></div>
            <div class="small-paragraph-wrapper">
              <h3 class="heading-small-new">Greater Control</h3>
              <p class="p-small-size text-white-opacity">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
          </div>
        </div>
        <div id="w-node-_479582f7-d33e-0de1-cd69-29afcc180559-0b251550" class="gray-wrapper">
          <div class="w-layout-grid content-grid">
            <div class="icon-wrapper"><img src="{{ 'ic-006-color.svg' | asset_url }}" loading="lazy" alt="" class="inner-icon"></div>
            <div class="small-paragraph-wrapper">
              <h3 class="heading-small-new">Creative Layout</h3>
              <p class="p-small-size text-white-opacity">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
          </div>
        </div>
        <div id="w-node-_479582f7-d33e-0de1-cd69-29afcc180562-0b251550" class="gray-wrapper">
          <div class="w-layout-grid content-grid">
            <div class="icon-wrapper"><img src="{{ 'ic-004.svg' | asset_url }}" loading="lazy" alt="" class="inner-icon"></div>
            <div class="small-paragraph-wrapper">
              <h3 class="heading-small-new">Saas blocks</h3>
              <p class="p-small-size text-white-opacity">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
          </div>
        </div>
        <div id="w-node-_479582f7-d33e-0de1-cd69-29afcc18056b-0b251550" class="gray-wrapper">
          <div class="w-layout-grid content-grid">
            <div class="icon-wrapper"><img src="{{ 'ic-003-color.svg' | asset_url }}" loading="lazy" alt="" class="inner-icon"></div>
            <div class="small-paragraph-wrapper">
              <h3 class="heading-small-new">Get a Peace of Mind</h3>
              <p class="p-small-size text-white-opacity">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
          </div>
        </div>
        <div id="w-node-_479582f7-d33e-0de1-cd69-29afcc180574-0b251550" class="gray-wrapper">
          <div class="w-layout-grid content-grid">
            <div class="icon-wrapper"><img src="{{ 'ic-005.svg' | asset_url }}" loading="lazy" alt="" class="inner-icon"></div>
            <div class="small-paragraph-wrapper">
              <h3 class="heading-small-new">Scale as you grow</h3>
              <p class="p-small-size text-white-opacity">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
          </div>
        </div>
        <div id="w-node-_479582f7-d33e-0de1-cd69-29afcc18057d-0b251550" class="gray-wrapper">
          <div class="w-layout-grid content-grid">
            <div class="icon-wrapper"><img src="{{ 'ic-013.svg' | asset_url }}" loading="lazy" alt="" class="inner-icon"></div>
            <div class="small-paragraph-wrapper">
              <h3 class="heading-small-new">Unlimited reviews</h3>
              <p class="p-small-size text-white-opacity">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
          </div>
        </div>
        <div id="w-node-_479582f7-d33e-0de1-cd69-29afcc180586-0b251550" class="gray-wrapper">
          <div class="w-layout-grid content-grid">
            <div class="icon-wrapper"><img src="{{ 'ic-012.svg' | asset_url }}" loading="lazy" alt="" class="inner-icon"></div>
            <div class="small-paragraph-wrapper">
              <h3 class="heading-small-new">Get it ready</h3>
              <p class="p-small-size text-white-opacity">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section wf-section">
    <div class="container w-container">
      <div class="w-layout-grid main-grid">
        <div id="w-node-_85d727c6-fb3f-25b8-fbe2-9d7b66afa25a-0b251550">
          <h1 class="heading-large2">Trust in numbers.</h1>
        </div>
        <div id="w-node-_85d727c6-fb3f-25b8-fbe2-9d7b66afa25d-0b251550">
          <p class="main-paragraph size-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
        </div>
      </div>
      <div class="w-layout-grid main-grid inner-padding-medium">
        <div id="w-node-_84ccd797-4fca-a73a-90f8-4103e7c8b56e-0b251550" class="inner-grid-column">
          <div class="stats-number large2">36%</div>
          <h4 class="heading-small-new">Get it ready</h4>
          <p class="p-small-size text-white-opacity">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
        </div>
        <div id="w-node-_84ccd797-4fca-a73a-90f8-4103e7c8b575-0b251550" class="inner-grid-column">
          <div class="stats-number large2">84%</div>
          <h4 class="heading-small-new">Get it ready</h4>
          <p class="p-small-size text-white-opacity">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
        </div>
        <div id="w-node-_84ccd797-4fca-a73a-90f8-4103e7c8b57c-0b251550" class="inner-grid-column">
          <div class="stats-number large2">18%</div>
          <h4 class="heading-small-new">Get it ready</h4>
          <p class="p-small-size text-white-opacity">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
        </div>
        <div id="w-node-_84ccd797-4fca-a73a-90f8-4103e7c8b583-0b251550" class="inner-grid-column">
          <div class="stats-number large2">24%</div>
          <h4 class="heading-small-new">Get it ready</h4>
          <p class="p-small-size text-white-opacity">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
        </div>
      </div>
      <div class="w-layout-grid main-grid margin-bottom-medium">
        <div id="w-node-_84ccd797-4fca-a73a-90f8-4103e7c8b567-0b251550">
          <h1 class="heading-large2">Cras mattis consectetur purus sit amet fermentum.</h1>
        </div>
        <div id="w-node-_84ccd797-4fca-a73a-90f8-4103e7c8b56a-0b251550">
          <p class="main-paragraph size-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.<br><br>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section wf-section">
    <div class="container margin-bottom-small w-container">
      <div class="heading-wrapper-center inner-padding-small">
        <h2 class="text">Merch</h2>
      </div>
      {%- if settings.collection_biglietto_da_visita_per_appuntamenti != blank -%}{%- render "markup_for_collection_biglietto_da_visita_per_appuntamenti" -%}{%- else -%}{%- render "products_max_3_where_category_idin_categorytshirts" -%}{%- endif -%}
    </div>
  </div>
  <div class="section wf-section">
    <div class="container w-container">
      {%- render 'quote-02' -%}
    </div>
  </div>
  {%- render 'footer' -%}
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=627929cccf40a94a9f251539" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <style>
  .w-webflow-badge {
        position: fixed !important;
    display: None !important;
    visibility: hidden !important;
}
<style>
</body></html></style>{{ 'udesly-shopify.min.js' | asset_url | script_tag }}