{%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "627929cccf40a949332515e3" -%}{%- assign bodyClasses = "" -%}
  {%- render 'loader' -%}
  {%- section 'global-nav' -%}
  <div class="section desktop-top-padding-header wf-section">
    <div class="container margin-bottom-small w-container">
      <div class="w-layout-grid main-grid no-gap">
        <div id="w-node-_3c96ceda-b321-b928-bb92-46af2dfadfb7-332515e3" class="flex-column-features rounded"><img src="{{ 'black_t_shirt_geometric_print_pattern_mockup.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw" srcset="{{ 'black_t_shirt_geometric_print_pattern_mockup-p-500.png' | asset_url }} 500w, {{ 'black_t_shirt_geometric_print_pattern_mockup-p-800.png' | asset_url }} 800w, {{ 'black_t_shirt_geometric_print_pattern_mockup-p-1080.png' | asset_url }} 1080w, {{ 'black_t_shirt_geometric_print_pattern_mockup.png' | asset_url }} 1200w" alt="" class="full-image"></div>
        <div id="w-node-_3c96ceda-b321-b928-bb92-46af2dfadfb9-332515e3" class="gray-wrapper auto inner-padding-small">
          <div class="paragraph-wrapper">
            <div class="title-tag text-orange">summer sale — 50% off</div>
            <h3 class="text margin-bottom-xsmall">Musk template 2022 collection</h3>
          </div>
          <a href="#" class="button color-blue w-inline-block">
            <div>Shop T-Shirt</div><img src="{{ 'cta-arrow-white.svg' | asset_url }}" loading="lazy" alt="" class="icon-arrow">
          </a>
        </div>
      </div>
    </div>
    <div class="ticker-wrapper shop inner-padding-small">
      <div class="inner-ticker shop">
        <div class="flex-ticker">
          <div class="flex-rail">
            {%- render 'ticker-scrolling' -%}
            {%- render 'ticker-scrolling' -%}
            {%- render 'ticker-scrolling' -%}
          </div>
          <div class="flex-rail">
            {%- render 'ticker-scrolling' -%}
            {%- render 'ticker-scrolling' -%}
            {%- render 'ticker-scrolling' -%}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wf-section">
    <div class="container margin-bottom-medium w-container">
      {%- render "categories" -%}
    </div>
  </div>
  <div class="wf-section">
    <div class="container top-padding-large w-container">
      {%- render 'call-to-action-blue' -%}
    </div>
  </div>
  {%- render 'footer' -%}
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=627929cccf40a94a9f251539" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <style>
  .w-webflow-badge {
        position: fixed !important;
    display: None !important;
    visibility: hidden !important;
}
<style>
</body></html></style>{{ 'udesly-shopify.min.js' | asset_url | script_tag }}