{%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "627929cccf40a943852516af" -%}{%- assign bodyClasses = "" -%}
  {%- section 'global-nav' -%}
  {%- render 'loader' -%}
  <div class="headlinesection wf-section">
    <div class="floatingsection first">
      <h1 class="topheading first">Welcome Future</h1>
      <div class="toptext">Hai mai immaginato di incassare pagamenti con il tuo biglietto da visita?</div>
      <div class="w-layout-grid main-grid-copystripe inner-padding-small">
        <div id="w-node-eda58de2-58eb-e113-8e7f-b789832c8490-852516af" class="logos-wrapper"></div>
        <div id="w-node-eda58de2-58eb-e113-8e7f-b789832c8492-852516af" class="logos-wrapper"></div>
        <div id="w-node-eda58de2-58eb-e113-8e7f-b789832c8494-852516af" class="logos-wrapper"><img src="{{ 'stripe-white-logo.png' | asset_url }}" loading="lazy" alt="" class="image-logo"></div>
        <div id="w-node-eda58de2-58eb-e113-8e7f-b789832c8496-852516af" class="logos-wrapper"><img src="{{ 'untitled-design-35.png' | asset_url }}" loading="lazy" alt="" class="image-logo"></div>
        <div id="w-node-eda58de2-58eb-e113-8e7f-b789832c8498-852516af" class="logos-wrapper"></div>
        <div id="w-node-eda58de2-58eb-e113-8e7f-b789832c849a-852516af" class="logos-wrapper"></div>
      </div>
    </div>
    <div class="floatingsection float2">
      <div class="sticky-explainer">
        <h1 class="topheading">Come il POS, che ti porti<br>in GIRO?.</h1>
        <div class="floattext">Ma lo sai che siamo nel 2022?</div>
      </div>
    </div>
    <div class="floatingsection float2">
      <div class="sticky-explainer">
        <h1 class="topheading">Click<br>Click<br>Paga Ora!</h1>
        <div class="floattext">Ai tuoi Clienti...Piacerá pagarti.</div>
      </div>
    </div>
    <div class="floatingsection float2">
      <div class="sticky-explainer">
        <h1 class="topheading">Garantendo<br>Sicurezza.</h1>
        <div class="floattext">Con i circuiti <br>che prima<br>sognavi <br>di avere.</div>
      </div>
    </div>
  </div>
  <div data-w-id="45196409-10b1-bdb7-1ed0-b184514aeead" class="rotatosection wf-section">
    <div class="stickydiv">
      <div class="canvascontainer">
        <div data-w-id="45196409-10b1-bdb7-1ed0-b184514aeeb0" data-is-ix2-target="1" class="lottie-animation-2" data-animation-type="lottie" data-src="{{ 'elegant-lightness-8.json' | asset_url }}" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="4.466666666666667" data-duration="0"></div>
      </div>
    </div>
  </div>
  <div class="site-below wf-section">
    <div class="app"><img src="https://uploads-ssl.webflow.com/61c23fcf799e8f5aff8a155e/6250e14ba50643d3c3581936_Artboard%20Copy%204.png" loading="lazy" width="905" alt="" class="image-11"></div>
  </div>
  <div class="wf-section"></div>
  {%- render 'call-to-action-newsletter' -%}
  {%- render 'footer' -%}
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=627929cccf40a94a9f251539" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <style>
  .w-webflow-badge {
        position: fixed !important;
    display: None !important;
    visibility: hidden !important;
}
<style>
</body></html></style>{{ 'udesly-shopify.min.js' | asset_url | script_tag }}