{%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "627929cccf40a9412a25161d" -%}{%- assign bodyClasses = "" -%}
  {%- section 'global-nav' -%}
  <div class="section titles wf-section">
    <div class="container w-container">
      <div class="divider-heading">
        <h4>Pricing</h4>
      </div>
      {%- render 'pricing-01' -%}
      <div class="span-divider"></div>
      {%- render 'pricing-02' -%}
      <div class="span-divider"></div>
      {%- render 'pricing-03' -%}
      <div class="span-divider"></div>
      {%- render 'pricing-04' -%}
      <div class="span-divider"></div>
      <div class="w-layout-grid main-grid">
        <div id="w-node-fbd8a603-a50a-7c84-0279-ac1e06452e38-2a25161d" class="gray-wrapper">
          <div class="w-layout-grid content-grid gap-short">
            <div class="wrapper-heading align-left">
              <div class="plan-header margin-bottom-small">
                <h3 class="heading-regular">Professional</h3>
                <div class="p-xsmall text-white-opacity">Best for graphic designers</div>
              </div>
              <div class="list-wrapper margin-bottom-xsmall">
                <div class="list-flex">
                  <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>1,000 Members</div>
                </div>
                <div class="list-flex">
                  <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>10 spaces</div>
                </div>
                <div class="list-flex">
                  <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>Custom domain</div>
                </div>
                <div class="list-flex">
                  <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>Zapier integration</div>
                </div>
                <div class="list-flex off">
                  <div class="circle-check off"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>1 License</div>
                </div>
                <div class="list-flex off">
                  <div class="circle-check off"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>1 License</div>
                </div>
              </div>
            </div>
            <div id="w-node-fbd8a603-a50a-7c84-0279-ac1e06452e5f-2a25161d" class="list-wrapper">
              <div class="price-wrapper margin-bottom-xsmall">
                <p class="price">$18<span class="span-small">/mo</span></p>
                <div class="list-flex">
                  <div class="p-xsmall text-white-opacity">*billed annually, plus applicable taxes</div>
                </div>
              </div>
              <a href="#" class="button color-blue w-inline-block">
                <div>Choose Plan</div>
              </a>
            </div>
          </div>
        </div>
        <div id="w-node-fbd8a603-a50a-7c84-0279-ac1e06452e6b-2a25161d" class="gray-wrapper">
          <div class="w-layout-grid content-grid gap-short">
            <div class="wrapper-heading align-left">
              <div class="plan-header margin-bottom-small">
                <h3 class="heading-regular">Professional</h3>
                <div class="p-xsmall text-white-opacity">Best for graphic designers</div>
              </div>
              <div class="list-wrapper margin-bottom-xsmall">
                <div class="list-flex">
                  <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>1,000 Members</div>
                </div>
                <div class="list-flex">
                  <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>10 spaces</div>
                </div>
                <div class="list-flex">
                  <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>Custom domain</div>
                </div>
                <div class="list-flex">
                  <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>Zapier integration</div>
                </div>
                <div class="list-flex off">
                  <div class="circle-check off"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>1 License</div>
                </div>
                <div class="list-flex off">
                  <div class="circle-check off"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>1 License</div>
                </div>
              </div>
            </div>
            <div class="list-wrapper">
              <div class="price-wrapper margin-bottom-xsmall">
                <p class="price">$18<span class="span-small">/mo</span></p>
                <div class="list-flex">
                  <div class="p-xsmall text-white-opacity">*billed annually, plus applicable taxes</div>
                </div>
              </div>
              <a href="#" class="button color-blue w-inline-block">
                <div>Choose Plan</div>
              </a>
            </div>
          </div>
        </div>
        <div id="w-node-fbd8a603-a50a-7c84-0279-ac1e06452e9e-2a25161d" class="gray-wrapper">
          <div class="w-layout-grid content-grid gap-short">
            <div class="wrapper-heading align-left">
              <div class="plan-header margin-bottom-small">
                <h3 class="heading-regular">Professional</h3>
                <div class="p-xsmall text-white-opacity">Best for graphic designers</div>
              </div>
              <div class="list-wrapper margin-bottom-xsmall">
                <div class="list-flex">
                  <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>1,000 Members</div>
                </div>
                <div class="list-flex">
                  <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>10 spaces</div>
                </div>
                <div class="list-flex">
                  <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>Custom domain</div>
                </div>
                <div class="list-flex">
                  <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>Zapier integration</div>
                </div>
                <div class="list-flex off">
                  <div class="circle-check off"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>1 License</div>
                </div>
                <div class="list-flex off">
                  <div class="circle-check off"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
                  <div>1 License</div>
                </div>
              </div>
            </div>
            <div class="list-wrapper">
              <div class="price-wrapper margin-bottom-xsmall">
                <p class="price">$18<span class="span-small">/mo</span></p>
                <div class="list-flex">
                  <div class="p-xsmall text-white-opacity">*billed annually, plus applicable taxes</div>
                </div>
              </div>
              <a href="#" class="button color-blue w-inline-block">
                <div>Choose Plan</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container w-container"></div>
    <div class="container w-container">
      <div class="divider-heading">
        <h4>Call to action</h4>
      </div>
      {%- render 'call-to-action-inline' -%}
      <div class="span-divider"></div>
      {%- render 'call-to-action-buttons' -%}
      <div class="span-divider"></div>
      {%- render 'call-to-action-gray' -%}
      <div class="span-divider"></div>
      {%- render 'call-to-action-outline' -%}
      <div class="span-divider"></div>
      {%- render 'call-to-action-blue' -%}
      <div class="span-divider"></div>
      <div class="divider-heading">
        <h4>Form</h4>
      </div>
      {%- render 'call-to-action-inline-form' -%}
      <div class="span-divider"></div>
      {%- render 'call-to-action-newsletter' -%}
      <div class="span-divider"></div>
      {%- render 'call-to-action-newsletter-2' -%}
      <div class="span-divider"></div>
      {%- render 'form-03' -%}
    </div>
    <div class="container w-container">
      <div class="divider-heading">
        <h4>Quote</h4>
      </div>
      {%- render 'quote-02' -%}
      <div class="span-divider"></div>
      {%- render 'quote-01' -%}
      <div class="span-divider"></div>
      {%- render 'quote-05' -%}
      <div class="span-divider"></div>
      {%- render 'stats-01' -%}
    </div>
    <div class="container w-container">
      <div class="divider-heading">
        <h4>FAQ</h4>
      </div>
      {%- render 'faq-01' -%}
      <div class="span-divider"></div>
    </div>
  </div>
  {%- render 'footer' -%}
  <div class="wf-section"></div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=627929cccf40a94a9f251539" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <style>
  .w-webflow-badge {
        position: fixed !important;
    display: None !important;
    visibility: hidden !important;
}
<style>
</body></html></style>{{ 'udesly-shopify.min.js' | asset_url | script_tag }}