{%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "627929cccf40a929ee2515a4" -%}{%- assign bodyClasses = "" -%}
  {%- render 'loader' -%}
  {%- section 'global-nav' -%}
  <section class="section titles wf-section">
    <div class="container titles w-container">
      <h1 class="heading-xlarge _16-ch">La Dashboard più avanzata del Web.</h1>
      <div class="wrap-summary">
        <p class="main-paragraph-copy">Avrai il piacere di aggiornare la tua Cardz in tempo reale ogni volta che vuoi,<br>e con il sistema più evoluto che puoi trovare online!<br><br>QUESTO&nbsp;E' IL&nbsp;TUO&nbsp;NUOVO&nbsp;CENTRO&nbsp;DI&nbsp;CONTROLLO<br>‍</p>
        <div data-w-id="73769083-569f-ff81-0518-31163d897035" data-animation-type="lottie" data-src="{{ 'lf30_editor_nrj4nctz.json' | asset_url }}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="5.36" data-duration="0"></div>
      </div>
      <section class="section-mockup2 grain-background">
        <div class="page-padding">
          <div class="container-large">
            <div class="padding-vertical padding-xhuge">
              <div class="margin-bottom margin-small">
                <div class="max-width-large align-center"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  <div class="wrapper-full-image device"></div>
  <div class="section titles wf-section">
    <section class="section-mockup1 grain-background">
      <div class="page-padding-2">
        <div class="container-large">
          <div class="padding-vertical padding-xhuge">
            <div class="margin-bottom margin-small">
              <div class="max-width-large align-center"></div>
            </div>
            <div class="mockup1_component">
              <div class="mockup1_animation-content">
                <div class="mockup_callout"><img src="https://uploads-ssl.webflow.com/6244f7aa8eac3873c6858c58/6244f7ab8eac382c0b858c89_callout-arrowtext.svg" loading="lazy" alt="" class="hide-tablet"><img src="https://uploads-ssl.webflow.com/6244f7aa8eac3873c6858c58/6244f7ab8eac3846fd858c8a_callout-arrowtext-tablet.svg" loading="lazy" alt="" class="show-tablet"></div>
                <div class="mockup1_lottie-animation-wrapper">
                  <div data-is-ix2-target="1" class="mockup1_lottie-animation" data-w-id="6b17311c-14ae-08f7-8167-a6840940400b" data-animation-type="lottie" data-src="https://uploads-ssl.webflow.com/6244f7aa8eac3873c6858c58/6244f7ab8eac385192858c8b_mockup1-lottie.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2.2333333333333334" data-duration="0"></div>
                  <div style="opacity:0" class="mockup1_video-wrapper">
                    <div data-poster-url="https://uploads-ssl.webflow.com/61c23fcf799e8f5aff8a155e/624510c5878e14c1cdbf3077_appcardshowcompressed-poster-00001.jpg" data-video-urls="../videos/appcardshowcompressed-transcode.mp4,../videos/appcardshowcompressed-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="mockup1_video w-background-video w-background-video-atom"><video id="6b17311c-14ae-08f7-8167-a6840940400d-video" autoplay="" loop="" style="background-image:url(&quot;https://uploads-ssl.webflow.com/61c23fcf799e8f5aff8a155e/624510c5878e14c1cdbf3077_appcardshowcompressed-poster-00001.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                        <source src="{{ 'appcardshowcompressed-transcode.mp4' | asset_url }}" data-wf-ignore="true">
                        <source src="{{ 'appcardshowcompressed-transcode.webm' | asset_url }}" data-wf-ignore="true">
                      </video></div>
                  </div>
                </div>
              </div>
              <div class="mockup1_background-text-wrapper">
                <div class="mockup1_background-text1">
                  <div class="mockup1_text">Crea</div>
                  <div class="mockup1_blur1"></div>
                </div>
                <div class="mockup1_background-text2">
                  <div class="mockup1_text">Web</div>
                  <div class="mockup1_blur2"></div>
                </div>
                <div class="mockup1_background-text3">
                  <div class="mockup1_text">Live</div>
                  <div class="mockup1_blur3"></div>
                </div>
              </div>
              <div class="mockup1-ix-triggers">
                <div data-w-id="6b17311c-14ae-08f7-8167-a6840940401c" class="mockup1-ix-trigger1"></div>
                <div data-w-id="6b17311c-14ae-08f7-8167-a6840940401d" class="mockup1-ix-trigger2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container w-container">
      <div class="w-layout-grid main-grid no-gap inner-padding-small">
        <div id="w-node-f6ca6402-6640-cc5f-cc9a-bff36d48a73d-ee2515a4" class="grid-wrapper inner-padding-small">
          <h3 class="text">Gestisci qualsiasi elemento in pochi secondi... <br>Tutto in<br>anteprima Live!</h3>
          <p class="main-paragraph margin-bottom-small">Crea Sub Utenti, affidagli una Cardz...<br>Gestisci i tuoi orari di lavoro e gestisci gli appuntamenti...<br>Crea e personalizza la tua Landing Page e la tua APP!!</p>
          <div class="list-wrapper">
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>38+ Blocchi/Moduli</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>Live Preview</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>Password Protection</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>Generatore QR&nbsp;Code</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>Statistiche fino a 365gg</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>Gestione Team </div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>Notifiche Alert</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>Calendario Appuntamenti</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>Menu Bar Dinamica</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>Vcard illimitate</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>PopUp iFrame </div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>Leads Collector</div>
            </div>
            <div class="list-flex">
              <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"></div>
              <div>Molto, molto altro ancora.....</div>
            </div>
          </div>
        </div>
        <div id="w-node-f6ca6402-6640-cc5f-cc9a-bff36d48a766-ee2515a4" class="overflow-wrapper rounded"><img src="{{ 'untitled-design-high-quality-5-min.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw" srcset="{{ 'untitled-design-high-quality-5-min-p-500.jpeg' | asset_url }} 500w, {{ 'untitled-design-high-quality-5-min-p-800.jpeg' | asset_url }} 800w, {{ 'untitled-design-high-quality-5-min-p-1080.jpeg' | asset_url }} 1080w, {{ 'untitled-design-high-quality-5-min.jpg' | asset_url }} 1200w" alt="Web dashboard avanzata di cardz per biglietti da visita digitali migliori al mondo" class="full-image"></div>
      </div>
    </div>
    <div class="container w-container">
      <div class="heading-wrapper-center inner-padding-medium">
        <div class="wrapper-black">
          <h2 class="text">ALCUNE cose che AMERAI di CARDZ:</h2>
        </div>
      </div>
      <div class="w-layout-grid main-grid margin-bottom-small">
        <div id="w-node-c45bdfe7-dc99-300d-bba0-79f7fc667434-ee2515a4" class="gray-wrapper">
          <div class="w-layout-grid content-grid gap-short">
            <div class="icon-wrapper">
              <h3 class="stats">Leads Collector</h3>
            </div>
            <div class="small-paragraph-wrapper">
              <h4 class="heading-small-new text-cyan">Colleziona email dei tuoi clienti</h4>
              <p class="p-small-size text-white-opacity">Un modulo che ti aiuterà ad aumentare il tuo pacchetto contatti, in pochi click il tuo cliente registrerà i suoi contatti nella tua sezione Dashboard Data!</p>
            </div>
          </div>
        </div>
        <div id="w-node-d43fd0c0-28c8-dc3a-33f0-5ea265b50cb6-ee2515a4" class="gray-wrapper">
          <div class="w-layout-grid content-grid gap-short">
            <div class="icon-wrapper">
              <h3 class="stats">Sub-Utenti</h3>
            </div>
            <div class="small-paragraph-wrapper">
              <h4 class="heading-small-new text-cyan">Affida una Cardz a un Collaboratore</h4>
              <p class="p-small-size text-white-opacity">Grazie alla gestione di Sub-Utenti potrai invitare senza limiti i componenti del tuo Team a gestire una o più Cardz, tu potrai gestire tutte le Cardz Aziendali ;)</p>
            </div>
          </div>
        </div>
        <div id="w-node-_74248d99-5dee-c51c-94a9-0d37dfc6df4b-ee2515a4" class="gray-wrapper">
          <div class="w-layout-grid content-grid gap-short">
            <div class="icon-wrapper">
              <h3 class="stats">POS<br>Virtuale</h3>
            </div>
            <div class="small-paragraph-wrapper">
              <h4 class="heading-small-new text-cyan">E' in arrivo la rivoluzione</h4>
              <p class="p-small-size text-white-opacity">Presto potrai incassare pagamenti direttamente dal tuo Biglietto da Visita, è qualcosa che fino a poco tempo fà ci era difficile anche immaginarlo, ma invece....</p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-layout-grid main-grid margin-bottom-small">
        <div id="w-node-_0e0f1c06-1706-504b-b05f-1a6f77b62284-ee2515a4" class="gray-wrapper">
          <div class="w-layout-grid content-grid gap-short">
            <div class="icon-wrapper">
              <h3 class="stats">Web App</h3>
            </div>
            <div class="small-paragraph-wrapper">
              <h4 class="heading-small-new text-cyan">Sarai tra i primi ad averla</h4>
              <p class="p-small-size text-white-opacity">I tuoi clienti installeranno l'app che magicamente si crea con la tua Cardz e si installa con un tap.</p>
            </div>
          </div>
        </div>
        <div id="w-node-_0e0f1c06-1706-504b-b05f-1a6f77b6228e-ee2515a4" class="gray-wrapper">
          <div class="w-layout-grid content-grid gap-short">
            <div class="icon-wrapper">
              <h3 class="stats">Menú Bar</h3>
            </div>
            <div class="small-paragraph-wrapper">
              <h4 class="heading-small-new text-cyan">Il Widget che tutti vorrebbero</h4>
              <p class="p-small-size text-white-opacity">Grazie a lei potrai inviare il tuo biglietto da visita anche se lo hai dimenticato a casa! In un Click, in 100+ modi!</p>
            </div>
          </div>
        </div>
        <div id="w-node-_0e0f1c06-1706-504b-b05f-1a6f77b62298-ee2515a4" class="gray-wrapper">
          <div class="w-layout-grid content-grid gap-short">
            <div class="icon-wrapper">
              <h3 class="stats">File Cloud</h3>
            </div>
            <div class="small-paragraph-wrapper">
              <h4 class="heading-small-new text-cyan">Il nuovo modo di condividere file</h4>
              <p class="p-small-size text-white-opacity">I tuoi clienti potranno scaricare qualsiasi tipo di file o documento tu inserirai nella tua Cardz!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container w-container">
      <div class="heading-wrapper-center inner-padding-medium">
        <div class="wrapper-black">
          <h2 class="heading-large2 _20-ch">Le possibilità sono INFINITE</h2>
        </div>
      </div>
    </div>
    <div class="container w-container"></div>
    <div class="container w-container">
      <div class="w-layout-grid main-grid margin-bottom-medium">
        <div id="w-node-_4cda6310-c166-02a4-4e79-f17426f063b0-ee2515a4" class="inner-content-column-2copy vertical-center rounded">
          <div class="wrapper-features margin-bottom-small">
            <h3 class="heading-regular">Stai entrano in una nuova era</h3>
            <p class="main-paragraph margin-bottom-xsmall">Cardz cambierà la tua visione del biglietto da visita...Ma principalmente migliorerà e rivoluzionerà il tuo rapporto con i clienti...</p>
          </div>
        </div>
        <div id="w-node-_4cda6310-c166-02a4-4e79-f17426f063bc-ee2515a4" class="overflow-wrapper rounded">
          <a href="#" data-w-id="8b2f0b2d-84b3-f665-556b-ec8d86e7738a" class="lightbox-link-3 w-inline-block w-lightbox"><img src="{{ 'untitled-design-high-quality-9.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, (max-width: 1263px) 95vw, 1200px" srcset="{{ 'untitled-design-high-quality-9-p-800.jpeg' | asset_url }} 800w, {{ 'untitled-design-high-quality-9-p-1080.jpeg' | asset_url }} 1080w, {{ 'untitled-design-high-quality-9.jpg' | asset_url }} 1200w" alt="" class="image-8">
            <script type="application/json" class="w-json">{"items":[{"url":"https://www.youtube.com/watch?v=n1haECwTNLc?autoplay=1","originalUrl":"https://www.youtube.com/watch?v=n1haECwTNLc?autoplay=1","width":940,"height":528,"thumbnailUrl":"https://i.ytimg.com/vi/n1haECwTNLc/hqdefault.jpg","html":"<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2Fn1haECwTNLc%3Fautoplay%3D1%26feature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3Dn1haECwTNLc&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2Fn1haECwTNLc%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&autoplay=1&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen\" allowfullscreen=\"true\"></iframe>","type":"video"}],"group":""}</script>
          </a>
        </div>
      </div>
    </div>
    <div class="container w-container"></div>
  </div>
  <div class="section wf-section">
    <div data-w-id="1e848d29-c43b-be9b-e431-579a8d9db617" class="big-heading-wrapper">
      <div class="xlarge-scroll-heading">Chiedi al Team</div>
    </div>
  </div>
  <div class="wf-section">
    <div class="container inner-padding-small w-container">
      <div class="w-layout-grid main-grid">
        <div id="w-node-b7e12d44-f39d-b0c3-0a58-9348219bb140-ee2515a4" class="overflow-wrapper rounded"><img src="{{ 'ui-007.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw" srcset="{{ 'ui-007-p-500.png' | asset_url }} 500w, {{ 'ui-007-p-800.png' | asset_url }} 800w, {{ 'ui-007-p-1080.png' | asset_url }} 1080w, {{ 'ui-007.png' | asset_url }} 2700w" alt="" class="full-image"></div>
        <div id="w-node-b7e12d44-f39d-b0c3-0a58-9348219bb142-ee2515a4" class="contain-form rounded">
          <div class="form-container">
            <div class="form-wrapper left">
              <div class="full-form w-form">
                {%- form "contact",  class: "inner-form" -%}
                  <div class="inner-input">
                    <div class="label-form">Il tuo nome</div><input type="text" class="text-field dark w-input" maxlength="256" name="contact[name]" data-name="Name" placeholder="John Smith" id="Name" required="">
                  </div>
                  <div class="inner-input">
                    <div class="label-form">La tua email</div><input type="email" class="text-field dark w-input" maxlength="256" name="contact[email]" data-name="Email 3" placeholder="john@email.com" id="email-3" required="">
                  </div>
                  <div class="inner-input margin-bottom-xsmall">
                    <div class="label-form">Se pensi che Cardz non può fare ciò che ti serve....chiedilo</div><textarea placeholder="Messaggio..." maxlength="5000" id="field" name="contact[field]" data-name="Field" class="textarea-message w-input"></textarea>
                  </div>
                  <div class="inner-input margin-bottom-xsmall"><input type="submit" value="Invia" data-wait="Please wait..." class="button color-red w-button"></div>
                {%- assign form_success = form.posted_successfully? -%}{%- assign form_errors = form.errors -%}{%- render "form-general-script", form_success: form_success, form_errors: form_errors -%}{%- endform -%}
                <div class="w-form-done  {% if form_success %}form-posted-successfully{% endif %}">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                {%- unless form_success -%}<div class="w-form-fail  {% if form.errors %}form-has-errors{% endif %}">
                  <div>{%- render "form-errors", form_errors: form_errors -%}</div>
                </div>{%- endunless -%}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%- render 'footer' -%}
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=627929cccf40a94a9f251539" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <style>
  .w-webflow-badge {
        position: fixed !important;
    display: None !important;
    visibility: hidden !important;
}
<style>
</body></html></style>{{ 'udesly-shopify.min.js' | asset_url | script_tag }}